{% extends 'index.html'%}
{% load staticfiles %}
{% block body %}
<div class="container" ng-app='miller.registration'>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">


      <h3 >Log in to {{title}}</h3>
      <p >Enter your username and password to log in:</p>
      
      {% if form.non_field_errors %}
        {{ form.non_field_errors }}
      {% endif %}
      <form role="form" method="POST" action="{% url 'login_view' %}">
        <div class="form-group {% if form.errors.username %}has-error{% endif %}">
          <label for="id_login_username">username</label>
          <input type="text" class="form-control" id="id_login_username" autofocus="autofocus" name="username" >
          {% if form.errors.username %}
          {{form.errors.username}}
          {% endif %}
        </div>

        <div class="form-group {% if form.errors.password %}has-error{% endif %}">
          <label for="id_login_password">password</label>
          <input type="password" class="form-control" id="id_login_password" placeholder="*****" name="password">
          {% if form.errors.password %}
          {{form.errors.password}}
          {% endif %}
        </div>
     
        <input type="hidden" value="{{ next }}" name="next" />
        {% csrf_token %}
        <div class="center">
        <p><a href='{% url "auth_password_reset"%}'>Forgot your password?</a></p>
        <div class="btn-line-group primary">
          <button class="btn-line">
            <span translate="login" class="ng-scope">log in</span>
          </button>
        </div>
        </div>
      </form>

      <h3 class="center" style='border-top: 2px solid #f0f0f0; padding-top:10px'> ... or create a free account</h3> 
      <div class="center">
        <div class="btn-line-group primary">
          <a class="btn-line" href='{% url "signup_view" %}'>
            <span translate="button.more.news" class="ng-scope">sign up</span>
          </a>
        </div>
      </div>
     
      <h3 class="center" style='border-top: 2px solid #f0f0f0; padding-top:10px'>... or register / log in with:</h3>

      <div class="social-login-buttons center">
        <div class="btn-line-group primary">
          <a class="btn btn-line" href="{% url 'social:begin' 'twitter' %}">
            <i class="icon icon-social-twitter"></i> Twitter
          </a>
        </div>
        <div class="btn-line-group primary">
        <a class="btn btn-line" href="{% url 'social:begin' 'google-oauth2' %}">
          <i class="icon icon-social-google"></i> Google Plus
        </a>
        </div>
      </div>


        

        
        

    </div>
  </div>
  

  <!-- <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3>...or login with:</h3>
      <div class="social-login-buttons">
        <a class="btn btn-line" href="{% url 'social:begin' 'twitter' %}">
          <i class="fa fa-twitter"></i> Twitter
        </a>
        <a class="btn btn-line" href="{% url 'social:begin' 'google-oauth2' %}">
          <i class="fa fa-google-plus"></i> Google Plus
        </a>
      </div>
    </div>

  </div> -->
</div>

{% endblock %}