{% extends 'index.html'%}
{% load staticfiles %}
{% block body %}
<div class="container" ng-app='miller.registration'>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">


      <h3>Login to {{title}}</h3>
      <p>Enter your username and password to log on:</p>
      
      {% if form.non_field_errors %}
        {{ form.non_field_errors }}
      {% endif %}
      <form role="form" method="POST" action="{% url 'login_view' %}">
        <div class="form-group {% if form.errors.username %}has-error{% endif %}">
          <label for="id_login_username">username</label>
          <input type="text" class="form-control" id="id_login_username" autofocus="autofocus" name="username" placeholder="username" >
          {% if form.errors.username %}
          {{form.errors.username}}
          {% endif %}
        </div>

        <div class="form-group {% if form.errors.password %}has-error{% endif %}">
          <label for="id_login_password">password</label>
          <input type="password" class="form-control" id="id_login_password" placeholder="Password" name="password">
          {% if form.errors.password %}
          {{form.errors.password}}
          {% endif %}
        </div>
     
        <input type="hidden" value="{{ next }}" name="next" />
        {% csrf_token %}

        <div class="btn-line-group primary">
          <button class="btn-line">
            <span translate="login" class="ng-scope">log in</span>
          </button>
        </div>
        <div class="btn-line-group">
          <a class="btn-line" href='{% url "signup_view" %}'>
            <span translate="button.more.news" class="ng-scope">sign up</span>
          </a>
        </div>

        
        
      </form>


    </div>
  </div>
  

  <!-- <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3>...or login with:</h3>
      <div class="social-login-buttons">
        <a class="btn btn-line" href="{% url 'social:begin' 'twitter' %}">
          <i class="fa fa-twitter"></i> Twitter
        </a>
        <a class="btn btn-line" href="{% url 'social:begin' 'google-oauth2' %}">
          <i class="fa fa-google-plus"></i> Google Plus
        </a>
      </div>
    </div>

  </div> -->
</div>

{% endblock %}