{% extends 'accessibility/index.html'%}
{% load miller_extras %}


{% block title %}{% lookup story.dmetadata path="title" language=language as html_title_prefix %}{{html_title_prefix|shorten}} &mdash; {% endblock %}

{% block headers %}
  {% url 'accessibility_story' pk=story.slug as accessibility_story_url %}
  {% if story.dmetadata %}
  <meta name="description"        content="{% lookup story.dmetadata path="abstract" language=language %}">
  {% endif %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@resume_unilu" />
  <meta name="twitter:title" content="{% lookup story.dmetadata path="title" language=language %}" />
  <meta name="twitter:description" content="{% lookup story.dmetadata path="abstract" language=language %}" />
  {% if story.ogcover %}
  <meta property='twitter:image' content='{{story.ogcover|coverage}}'>
  {% endif %}

  <meta property='og:url' content='{{accessibility_story_url|urled}}'>
  <meta property='og:type' content='article'>
  <meta property='og:title' content='{% lookup story.dmetadata path="title" language=language %}'>
  <meta property='og:description' content='{% lookup story.dmetadata path="abstract" language=language %}'>
  {% if story.ogcover.type == "video" %}
    <meta property='og:video' content='{{story.ogcover|coverage}}'>
  {% elif story.ogcover.type == "photo" %}
    <meta property='og:image' content='{{story.ogcover|coverage}}'>
  {% endif %}
{% endblock %}


{% block page %}
  <article>
  {% for author in story.authors.all %}
  <span class="author"><a href="/author/{{author.slug}}/publications/" rel='author'>{{author.fullname}}</a> ({{author.affiliation}})</span>
  {% endfor %}

  <h1>{% lookup story.dmetadata path="title" language=language %}</h1>

  {% include 'accessibility/partials/story.tags.html' %}

  {% for cover in story.covers.all %}
    {% include 'accessibility/partials/story.cover.html' %}
  {% endfor %}

  <blockquote class="abstract">{% lookup story.dmetadata path="abstract" language=language %}</blockquote>
  {% markdownit story.contents language=language %}
  </article>
{% endblock %}