*.sqlite3
*.pyc
contents/
dist/
local_settings.py
*.log
*.md
!README.md
# uwsgi related files
*.uwsgi.ini
uwsgi.ini
uwsgi_params
media/*
!media/.gitkeep

client/src/images/*
!client/src/images/.gitkeep

node_modules