BeautifulSoup==3.2.1
bibtexparser==0.6.2
Django==1.9.4
django-filter==0.13.0
django-seo-js==0.3.1
django-simplemde==0.0.9
django-websocket-redis==0.4.6
djangorestframework==3.3.3
feedparser==5.2.1
gevent==1.1.1
gitdb==0.6.4
GitPython==1.0.2
greenlet==0.4.9
jsonfield==1.0.3
lxml==3.6.4
Markdown==2.6.6
oauthlib==1.0.3
PyJWT==1.4.0
pypandoc==1.2.0
PyPDF2==1.25.1
python-docx==0.8.6
python-openid==2.2.5
python-social-auth==0.2.16
pytz==2016.3
redis==2.10.5
requests==2.2.1
requests-oauthlib==0.6.1
shortuuid==0.4.3
six==1.10.0
smmap==0.9.0
unicodecsv==0.14.1
uWSGI==2.0.12
Wand==0.4.2
Whoosh==2.7.4
