asgi-redis==1.0.0
asgiref==1.0.0
autobahn==0.16.1
BeautifulSoup==3.2.1
bibtexparser==0.6.2
channels==0.17.3
constantly==15.1.0
daphne==0.15.0
Django==1.10.3
django-activity-stream==0.6.3
django-codemirror-widget==0.4.1
django-filter==0.13.0
django-registration==2.2
django-render-block==0.5
django-seo-js==0.3.1
django-simple-captcha==0.5.3
django-simplemde==0.0.9
django-socketio==0.3.9
django-templated-email==2.0
django-websocket-redis==0.4.6
djangorestframework==3.5.3
djoser==0.5.1
feedparser==5.2.1
gevent==1.1.1
gevent-socketio==0.2.1
gevent-websocket==0.9.5
gitdb==0.6.4
GitPython==1.0.2
greenlet==0.4.9
incremental==16.10.1
jsonfield==1.0.3
latexcodec==1.0.4
lxml==3.6.4
Markdown==2.6.6
msgpack-python==0.4.8
oauthlib==1.0.3
Pillow==3.4.2
pybtex==0.20.1
PyJWT==1.4.0
pypandoc==1.2.0
PyPDF2==1.25.1
python-docx==0.8.6
python-openid==2.2.5
python-social-auth==0.2.16
pytz==2016.3
PyYAML==3.12
Pyzotero==1.1.19
redis==2.10.5
requests==2.2.1
requests-oauthlib==0.6.1
shortuuid==0.4.3
six==1.10.0
smmap==0.9.0
sphinx-me==0.3
Twisted==16.5.0
txaio==2.5.2
unicodecsv==0.14.1
uWSGI==2.0.12
Wand==0.4.2
Whoosh==2.7.4
zope.interface==4.3.2
