
{% extends 'index.html'%}
{% load staticfiles %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h3>Sign up {{title}}</h3>

      <form role="form" method="POST" action="">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group {% if form.errors.first_name %}has-error{% endif %}">
              <label for="id_signup_first_name">first name*</label>
              
              <input type="text" class="form-control" value='{{ form.first_name.value|default_if_none:"" }}' id="id_signup_first_name" autofocus="autofocus" name="first_name" placeholder="" >
              {% if form.errors.first_name %}
              {{form.errors.first_name}}
              {% endif %}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group {% if form.errors.last_name %}has-error{% endif %}">
              <label for="id_signup_last_name">last name*</label>
              <input type="text" class="form-control" value='{{ form.last_name.value|default_if_none:"" }}' id="id_signup_last_name" autofocus="autofocus" name="last_name" placeholder="" >
              {% if form.errors.last_name %}
              {{form.errors.last_name}}
              {% endif %}
              
            </div>
          </div>
        </div>

        <div class="form-group {% if form.errors.email %}has-error{% endif %}">
          <label for="id_signup_email">email*</label>
          
          <input type="text" value='{{ form.email.value|default_if_none:"" }}' class="form-control" id="id_signup_email"  name="email" placeholder="your email" >
          {% if form.errors.email %}
            {{form.errors.email}}
          {% endif %}
        </div>

        <div class="form-group {% if form.errors.username %}has-error{% endif %}">
          <label for="id_signup_username">desired username*</label>
          
          <input type="text" value='{{ form.username.value|default_if_none:"" }}' class="form-control" id="id_signup_username"  name="username" placeholder="username" >
          {% if form.errors.username %}
          {{form.errors.username}}
          {% endif %}
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group {% if form.errors.password1 %}has-error{% endif %}">
              <label for="id_signup_password1">password*</label>
              
              <input type="password"  class="form-control" id="id_signup_password1" placeholder="Password" name="password1">
              {% if form.errors.password1 %}
              {{form.errors.password1}}
              {% endif %}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group  {% if form.errors.password2 %}has-error{% endif %}">
              <label for="id_signup_password2">password confirmation*</label>
              
              <input type="password" class="form-control" id="id_signup_password2" placeholder="Password" name="password2">
              {% if form.errors.password2 %}
              {{form.errors.password2}}
              {% endif %}
            </div>
          </div>
        </div>

        <div class="form-group {% if form.errors.affiliation %}has-error{% endif %}">
          <label for="id_signup_affiliation">affiliation</label>
          <input type="text" value='{{ form.affiliation.value|default_if_none:"" }}' class="form-control" id="id_signup_affiliation"  name="affiliation" placeholder="University, Contry ..." >
        </div>
        
        <div class="form-group {% if form.errors.captcha %}has-error{% endif %}">
        {{form.captcha}}
        {% if form.errors.captcha %}
        {{form.errors.captcha}}
        {% endif %}
        </div>

        <input type="hidden" value="{{ next }}" name="next" />
        {% csrf_token %}
        <div class="btn-line-group ">
          <a class="btn-line" href='{% url "login_view" %}'>
            <span translate="login" class="ng-scope"><span style='' class='icon icon-arrow-left-circle'></span> back to log in</span>
          </a>
        </div>
        <div class="btn-line-group primary">
          <button class="btn-line" type="submit">
            <span translate="button.more.news" class="ng-scope">sign up</span>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}