{% extends 'miller/index.html'%}
{% load staticfiles %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>You're account has been activated!</h2>
      <p>Check your email and follow the link. Now you can login to the system</p>
      <div class="btn-line-group primary">
        <a class="btn-line" href='{% url "login_view" %}'>
          <span translate="login" class="ng-scope"><span style='' class='icon icon-arrow-right-circle'></span> log in</span>
        </a>
      </div>

    </div>
  </div>
</div>
{% endblock %}
