{% extends 'miller/index.html'%}
{% load staticfiles %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h3>{{title}}</h3>
      
      <form role="form" method="POST" action="">
        <p>Forgot your password? Enter your email address below and we'll send you instructions to set a new one.</p>
        <div class="form-group {% if form.errors.email %}has-error{% endif %}">
          <label for="id_email">your email address</label>

          <input id="id_email" maxlength="254" name="email" type="email" required="" ype="text" class="form-control" value='{{ form.email.value|default_if_none:"" }}' autofocus>
        </div>
        {% csrf_token %}
        
        <div class="btn-line-group primary">
          <button class="btn-line" type="submit">
            <span translate="button.more.news" class="ng-scope">Reset my password</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock  %}

{% block footer%}{{block.super}}{% endblock %}