{% extends 'miller/index.html'%}
{% load staticfiles %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>{{title}}</h2>
      <p>Your password has been set. You may go ahead and log in now.</p>
      <div class="btn-line-group primary">
        <a class="btn-line" href='{% url "login_view" %}'>
          <span translate="login" class="ng-scope"><span style='' class='icon icon-arrow-right-circle'></span> log in</span>
        </a>
      </div>

    </div>
  </div>
</div>
{% endblock %}
