{% extends 'miller/index.html'%}
{% load staticfiles %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h3>{{title}}</h3>
        

      <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

      <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
      <br/><br/>
      <div class="btn-line-group primary">
        <a href='{% url "home"%}' class="btn-line" type="submit">
            <span translate="button.more.news" class="ng-scope">index</span>
        </a>
      </div> 
    </div>
  </div>
</div>
{% endblock %}