{% extends 'miller/index.html' %}
{% load i18n %}
{% load staticfiles %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h3>{{title}}</h3>
      {% if validlink %}
        <p>Please enter your new password twice.<br />
           So we can verify you typed it in correctly.</p>
        <form action="" method="post">
            {% csrf_token %}
            {% if form.errors %}
              <p>please correct the errors below before proceeding</p>
            {% endif %}
            <div class="form-group {% if form.errors.new_password1 %}has-error{% endif %}">
              <label for="id_new_password1">New password:</label>
              <input type="password" class="form-control" id="id_new_password1" placeholder="Password" name="new_password1">
              {% if form.errors.new_password1 %}
              <span class='icon icon-arrow-up-circle' style='float: left; margin-right: 5px; line-height: 25px'></span>{{form.errors.new_password1}}
              {% endif %}
            </div>

            <div class="form-group {% if form.errors.new_password2 %}has-error{% endif %}">
              <label for="id_new_password1">Confirm password:</label>
              <input type="password" class="form-control" id="id_new_password2" placeholder="Password" name="new_password2">
              {% if form.errors.new_password2 %}
              <span class='icon icon-arrow-up-circle' style='float: left; margin-right: 5px; line-height: 25px'></span>{{form.errors.new_password2}}
              {% endif %}
            </div>
            <div class="btn-line-group primary">
              <button class="btn-line" type="submit">
                <span translate="button.more.news" class="ng-scope">Change my password</span>
              </a>
            </div>

            
        </form>
    {% else %}
        <h1>Something went wrong.</h1>
        <p>The password reset link was <b>invalid</b>, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>

    {% endif %}  

    </div>
  </div>
</div>
{% endblock %}
