
{% extends 'index.html'%}
{% load staticfiles %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h3>Sign up to {{title}}</h3>
      {% if form.errors %}
        <p>Please correct the errors below before proceeding.</p>
      {% endif %}
      <form role="form" method="POST" action="">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group {% if form.errors.first_name %}has-error{% endif %}">
              <label for="id_signup_first_name">first name*</label>
              
              <input type="text" class="form-control" value='{{ form.first_name.value|default_if_none:"" }}' id="id_signup_first_name" autofocus="autofocus" name="first_name" placeholder="" >
              {% if form.errors.first_name %}
              <span class='icon icon-arrow-up-circle' style='float: left; margin-right: 5px; line-height: 25px'></span> {{form.errors.first_name}}
              {% endif %}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group {% if form.errors.last_name %}has-error{% endif %}">
              <label for="id_signup_last_name">last name*</label>
              <input type="text" class="form-control" value='{{ form.last_name.value|default_if_none:"" }}' id="id_signup_last_name" autofocus="autofocus" name="last_name" placeholder="" >
              {% if form.errors.last_name %}
              <span class='icon icon-arrow-up-circle' style='float: left; margin-right: 5px; line-height: 25px'></span> {{form.errors.last_name}}
              {% endif %}
              
            </div>
          </div>
        </div>

        <div class="form-group {% if form.errors.email %}has-error{% endif %}">
          <label for="id_signup_email">email*</label>
          
          <input type="text" value='{{ form.email.value|default_if_none:"" }}' class="form-control" id="id_signup_email"  name="email">
          {% if form.errors.email %}
            <span class='icon icon-arrow-up-circle' style='float: left; margin-right: 5px; line-height: 25px'></span> {{form.errors.email}}
          {% endif %}
        </div>

        <div class="form-group {% if form.errors.username %}has-error{% endif %}">
          <label for="id_signup_username">desired username*</label>
          <input type="text" value='{{ form.username.value|default_if_none:"" }}' class="form-control" id="id_signup_username"  name="username">
          {% if form.errors.username %}
          <span class='icon icon-arrow-up-circle' style='float: left; margin-right: 5px; line-height: 25px'></span> {{form.errors.username}}
          {% endif %}
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group {% if form.errors.password1 %}has-error{% endif %}">
              <label for="id_signup_password1">password*</label>
              
              <input type="password"  class="form-control" value='{{ form.password1.value|default_if_none:"" }}' id="id_signup_password1" name="password1">
              {% if form.errors.password1 %}
              <span class='icon icon-arrow-up-circle' style='float: left; margin-right: 5px; line-height: 25px'></span> {{form.errors.password1}}
              {% endif %}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group  {% if form.errors.password2 %}has-error{% endif %}">
              <label for="id_signup_password2">confirm password*</label>
              
              <input type="password" value='{{ form.password2.value|default_if_none:"" }}' class="form-control" id="id_signup_password2" name="password2">
              {% if form.errors.password2 %}
              <span class='icon icon-arrow-up-circle' style='float: left; margin-right: 5px; line-height: 25px'></span> {{form.errors.password2}}
              {% endif %}
            </div>
          </div>
        </div>

        <div class="form-group {% if form.errors.affiliation %}has-error{% endif %}">
          <label for="id_signup_affiliation">affiliation</label>
          <input type="text" value='{{ form.affiliation.value|default_if_none:"" }}' class="form-control" id="id_signup_affiliation"  name="affiliation" placeholder="university, country ..." >
        </div>
        
        <div class="form-group {% if form.errors.tos %}has-error{% endif %}">
          
          <label for="id_signup_tos">I've read and accept the <a target='_blank' href="/terms-of-use">terms of use</a></label>
          <input id="id_tos" name="tos" type="checkbox" {% if form.tos.value %}checked{% endif %}>
          {% if form.errors.tos %}
          <span class='icon icon-arrow-right-circle' style='    float: left; margin-right: 5px; line-height: 25px; margin-top: 20px;'></span>  {{form.errors.tos}}   
          {% endif %}
        </div>

        <div class="form-group {% if form.errors.captcha %}has-error{% endif %}">
          <label for="id_signup_captcha">Please copy the letters into the box below</label>
        {{form.captcha}}
        {% if form.errors.captcha %}
        <span class='icon icon-arrow-right-circle' style='float: left; margin-right: 5px; line-height: 25px'></span> {{form.errors.captcha}}
        {% endif %}
        </div>

        <input type="hidden" value="{{ next }}" name="next" />
        {% csrf_token %}
        <div class="btn-line-group ">
          <a class="btn-line" href='{% url "login_view" %}'>
            <span translate="login" class="ng-scope"><span style='' class='icon icon-arrow-left-circle'></span> back to log in</span>
          </a>
        </div>

        <div class="btn-line-group primary">
          <button class="btn-line" type="submit">
            <span translate="button.more.news" class="ng-scope">sign up</span>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}