/* Resume */
/*
  p, a etc.
*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4{
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #454545;
}
h1, .h1 {
  margin-top:40px;
  margin-bottom:30px;
  font-size: 45px;
  line-height: 60px;
  color: #151515;
}

h2, .h2 {
  margin-top:40px;
  font-size: 30px;
  line-height: 50px;
}

h3, .h3 {
  margin-top:40px;
  font-size: 25px;
  line-height: 40px;
}

h4, .h4{
  margin-top:40px;
  font-size: 20px;
  line-height: 30px;
}

p, span{

}

a{
  cursor: pointer;
}

.small{
  font-size: 12px;
  line-height: 20px;
}

.no-margin-top{
  margin-top:0;
}


blockquote, blockquote p{
  font-size: 20px;
  line-height: 35px;
  border-left: 2px solid #ddd;
  border-left: 0px;
  padding:0;
}

blockquote.reduced, blockquote.reduced p{
  font-size: 15px;
  line-height: 25px;
}

.alert{
      display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
    background: #FF6B6B;
    color: white;
    width: 200px;
    z-index: 100;
    -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



a{
  color: #4ECDC4;
}

a:hover, a:focus {
  color: #000;
  text-decoration: underline;
}


label{
  margin-top: 20px;
}

/*
  generic classes
*/
.sans-serif, label{
  font-family: 'Lato', sans-serif;
}

.icon{
  font-size: 15px;
}

/*
  elastic textarea
*/
.elastic-textarea-wrapper{
  padding: 10px;
  background: #f0f0f0
}

.elastic-textarea{
  /*#draft-title, #draft-abstract,  .elastic-textarea{*/
  border: 0px solid transparent;
  display: block;
  font-size: 15px;
  width: 100%;
  border-bottom: 2px solid #E6E5E5;
  transition: border-color .25s ease-in-out, border-color .25s ease-in-out;
  border-bottom-width: 2px;
  background: #f0f0f0;
  padding: 0px;
  /*text-align: justify;*/
}

.iframe-wrapper {
  position: relative;
  background: #e0e0e0;
}

.iframe-wrapper .iframe-viewport{
  overflow: hidden;
  transition: height .37s ease-in-out;
  height: 0;
  text-align: center;
}



.iframe-wrapper .iframe-viewport.active{
  height: 400px;
}

.iframe-wrapper.with-thumbnail .iframe-viewport, .iframe-wrapper.with-thumbnail .iframe-viewport.active{
  height: 400px;
}

.iframe-wrapper.with-thumbnail .iframe-viewport > img{
  height: 400px;
  margin: 0 auto;
}

.iframe-wrapper > a.toggle-preview {
    background-color: #f0efef;
    padding: 10px;
    position: absolute;
    left: -50px;
    top: 100%;
    width: 40px;
    height: 40px;
    line-height: 20px;
    border-radius: 20px;
}

.iframe-wrapper > a.toggle-preview:hover, .iframe-wrapper > a.toggle-preview:focus{
  text-decoration: none;
}

.iframe-wrapper > a.toggle-preview .icon{
  font-size: 20px;
  color: #151515;
}

.image-wrapper {
  height: 400px;
  text-align: center;
  background-color: #f0efef;
  padding-top: 10px;
  overflow:hidden;
}

.image-wrapper img{
  height: 100%;
}

.elastic-textarea:focus{
  border-color: #4ECDC4 ;
  background: #ffffff;
  outline: none;

}




/*
  top: #breaking-news div
*/
#breaking-news .item{
  float:left;
  width:33%;
  color: white;
  height: 100%;
  background: #111;
}

#breaking-news .item .wrapper{
  position: relative;
  height: 100%;
  width: 100%;
}

#breaking-news .item .overlay{
  position: absolute;
  bottom: 0px;
  background-color: rgba(16,16,16,.3);
  left: 0;
  right: 0;
  padding: 10px 20px 0 20px;
}

#breaking-news .item h3{
  color: #F0F0F0;
  font-size: 16px;
  line-height: 25px;
  border-bottom: 2px solid #FF6B6B;
  margin: 0 0 15px 0;
  padding: 0px 0 10px 0;
  max-height: 58px;
  overflow: hidden;
}
#breaking-news .item .tags {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
}
#breaking-news .item a{
  color: #f0f0f0;
}
#breaking-news .item a:hover, #breaking-news .item a:focus{
  color: white
}

/*
  ToC
*/
#table-of-contents h2, #table-of-documents h2{
  margin-top: 120px;
  margin-left: 40px;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;  
}

#inner-table-of-contents-toggler {
  position:absolute;
  top: 85px;
  left: 40px;
  transition: opacity .3s ease-in-out;

}

#inner-table-of-contents-toggler .save{
  position: absolute;
  top: 0;
  left: 40px;
 
}

#inner-table-of-contents-toggler .save .btn-transparent {
   background-color: rgba(255,255,255,.5);
}

#inner-table-of-contents-toggler .btn-transparent {
  background-color: #000;
}
#inner-table-of-contents-toggler .btn-transparent:hover {
  background-color: #4ECDC4;
}

#table-of-contents ul{
  padding: 0;
  margin: 0 20px 0 40px;
  position: absolute;
  top: 190px;
  bottom: 0px;
  overflow: auto;
}

#table-of-contents ul li{
  font-size: 11px;
  font-weight: normal;
  color: black;
  list-style-type: none;
  padding: 0;
      margin: 0 0 10px 0;
}

#table-of-contents ul li a {
  color: black;
  cursor: pointer;
}

#table-of-contents ul li.heading-2{
  margin-top: 10px;
}

#table-of-contents ul li.heading-3{
  margin-left: 10px;
}


#table-of-contents ul li.heading-4{
  margin-left: 20px;
}

/*
  view
*/
.view{
  position: relative;
  text-align: justify;
  margin-top: 240px;
  margin-bottom: 50px;
  /*padding: 0 40px;*/
  transition: transform .27s ease-in-out;
}

.container{
  padding-right: 30px;
  padding-right: 30px;
}

.container.with-ToC .view{
  /*transform: translateX(200px);*/
  /*padding-right: 200px;*/
}

.container.with-ToC .view .actions{
  /*transform: translateX(200px);*/
}

.anchor{
  position:absolute;
  margin-top: -80px;
}

.actions{
  position: absolute;
  right: 0px;
  top: 0px;
}

.tags .tag{
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.tag a{
  color: #FF6B6B;
}



.date{
  color: #FF6B6B;
}

.divider {
  width: 40px;
  height: 2px;
  background: #151515;
  margin-top: 20px;
  margin-bottom: 0px;
}

.story.lite{
  background: #f0f0f0;
  padding: 17px 20px;
  margin-bottom: 20px;
}

.story.lite h3{
  margin-top: 30px;
}

.story.lite h3 a {
  font-size: 30px;
  color: #333;
}


.story.lite blockquote{
  border-left: 0px;
  padding:0;
}
.story.lite blockquote p{
  font-size: 15px;
  line-height: 25px;
  margin-top: 5px
}

/*
  Index page
*/
.coverstory.story.lite{
  margin-bottom: 0px;
}

.coverstory h4 {
  margin-top:20px;
}

.coverstory h4 a{
  font-size: 20px;
  color: #333;
}

.coverstory .divider{
  margin-bottom: 20px;
}

/*
  contents (story)
*/
.contents .footnote-contents{
  background: #f0f0f0;
  margin: 10px 0;
  padding: 10px 10px 1px 10px;
  font-size: 12px;
  color: #837c7c;
  line-height: 20px;
}

.contents .footnote-contents p, .contents .footnote-contents span{
  font-size: 12px;
  line-height: 20px;
}

.contents .footnotes{
  display: none;
}

/*
  draft
*/
#draft-abstract, #draft-title{
  font-size: 15px;
  line-height: 25px;
  padding: 10px;
}
/*
  bootstrap tabs
*/
.nav-tabs {
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
}

.nav-tabs > li{
  padding: 22px 10px 20px 0px;
}

.nav-tabs > li > a{
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #aaa;
  border: 2px solid transparent;
  border-radius: 0;
  line-height: 20px;
  padding: 0 10px;
  transition: color .25s ease-in-out, border-color .25s ease-in-out;
}

.nav > li > a:hover, .nav > li > a:focus{
  color: #4ECDC4;
  border: 2px solid #4ECDC4;
  background-color: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  color: #FF6B6B;
  border: 2px solid #FF6B6B;
    
}


/*
  ng-tags-input
*/
.tags-input{
  display:block;
  position: relative;
}
.tags-input *,
.tags-input :after,
.tags-input :before{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
.tags-input .host{position:relative;margin-top:5px;margin-bottom:5px;height:100%}
.tags-input .host:active{outline:0}
.tags-input .tags{
  /*-moz-appearance:textfield;*/
  /*-webkit-appearance:textfield;*/
  padding:1px;
  overflow:hidden;
  word-wrap:break-word;
  cursor:text;
  background-color:#f0f0f0;
  height:100%;
  border-bottom: 2px solid #B7B2B2;
  margin: 0;
  transition: border-color .25s ease-in-out;
}

.tags-input .tags input{
   background-color:#f0f0f0;
}

.tags-input .tags.focused{
  outline:0;
  border-bottom: 2px solid #4ECDC4;
  background: #fff;
 /* -webkit-box-shadow:0 0 3px 1px rgba(5,139,242,.6);
  -moz-box-shadow:0 0 3px 1px rgba(5,139,242,.6);
  box-shadow:0 0 3px 1px rgba(5,139,242,.6)*/
}
.tags-input .tags.focused input{
  background-color:#fff;
}

.tags-input .tags .tag-list{margin:0;padding:0;list-style-type:none}
.tags-input .tags .tag-item{
  margin: 2px;
  padding: 0 0px 0 10px;
  display: inline-block;
  float: left;
  font: 10px "Lato",sans-serif;
  height: 25px;
  line-height: 25px;
  color: #585858;
  text-transform: uppercase;
  border: 2px solid #B7B2B2;
  font-weight: bold;
}

.tags-input .tags .tag-item > ti-tag-item{
    display: block;
    padding: 0;
    line-height: 22px;
}

.tags-input .tags .tag-item:hover .remove-button{
  color: white;
}

.tags-input .tags .tag-item .type{
  color: #B7B2B2;
  font-size: inherit;
  line-height: inherit;
}

.tags-input .tags .tag-item.selected{
  background-color: #ff5c5c
}

.tags-input .tags .tag-item.selected .type{
  color: #e0e0e0;
}


.tags-input .tags .tag-item .remove-button{
     margin: 0 5px 0 5px;
    padding: 0;
    border: none;
    background: 0 0;
    cursor: pointer;
    vertical-align: middle;
    color: #585858;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
}

.tags-input .tags .input.invalid-tag,
.tags-input .tags .tag-item .remove-button:active{color:red}
.tags-input .tags .input{border:0;outline:0;margin:2px;padding:0 0 0 5px;float:left;height:26px;font:14px "Lato",sans-serif}
.tags-input .tags .input::-ms-clear{display:none}
.tags-input.ng-invalid .tags{
  border-color: #ff5c5c;
  
}
.tags-input[disabled] .host:focus{outline:0}
.tags-input[disabled] .tags{background-color:#eee;cursor:default}

.tags-input[disabled] .tags .tag-item{opacity:.65;background:-webkit-linear-gradient(top,#f0f9ff 0,rgba(203,235,255,.75)47%,rgba(161,219,255,.62)100%);background:linear-gradient(to bottom,#f0f9ff 0,rgba(203,235,255,.75)47%,rgba(161,219,255,.62)100%)}
.tags-input[disabled] .tags .tag-item .remove-button{cursor:default}
.tags-input[disabled] .tags .tag-item .remove-button:active{color:#585858}
.tags-input[disabled] .tags .input{background-color:#eee;cursor:default}

.tags-input .autocomplete{
  margin-top:5px;
  position:absolute;
  padding:5px 0;
  z-index:999;
  width:100%;
  max-width: 300px;
  background-color:#fff;
  border:1px solid rgba(0,0,0,.2);
  -webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow:0 5px 10px rgba(0,0,0,.2);
  box-shadow:0 5px 10px rgba(0,0,0,.2)
}

.tags-input .autocomplete .suggestion-list{margin:0;padding:0;list-style-type:none;max-height:280px;overflow-y:auto;position:relative}
.tags-input .autocomplete .suggestion-item{padding:5px 10px;cursor:pointer;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font:16px "Lato",sans-serif;color:#000;background-color:#fff}
.tags-input .autocomplete .suggestion-item.selected,
.tags-input .autocomplete .suggestion-item.selected em{color:#fff;background-color:#0097cf}
.tags-input .autocomplete .suggestion-item em{font:normal bold 16px "Lato",sans-serif;color:#000;background-color:#fff}



.mde .wand{
  position: absolute;
  left: -30px;
  top: 3px;
  font-size: 18px;
  color: white;
  height: 22px;
  right: 0px;
  text-align: left;
  /*border-bottom: 1px solid #353535;*/
   /*transition: transform .27s ease-in-out; */
  
  /*transition: transform .27s ease-in-out;*/
}

.mde .mde-modified{
  /*background: #e0e0e0;*/

}

.mde .wand .btn{
  background: white;
  padding: 0;
  border-radius: 0;
  line-height: 22px;
  width: 30px;
  height: 22px;
}

.mde .wand .btn .icon-plus{
  color: #151515;
  font-size:17px;
  line-height: 22px;
  background: white;
}

.mde .toolbox{
  position: absolute;
  left: 0;
  top: -30px;
  font-size: 18px;
  height: 30px;
  background: rgb(79, 74, 74);
  transition:  background-color .27s ease-in-out;
  -webkit-transition: background-color .27s ease-in-out;
 /*border-bottom: 2px solid #f0f0f0;*/
  z-index: 100;
}

.mde .toolbox.active, .mde .toolbox:hover{
  background: #151515;
}


.mde .toolbox .btn{
  height: 30px;
  width: 30px;
  margin: 0;
  line-height: 30px;
  padding: 0;
  color: #d0d0d0;
  background: transparent;
  border-radius: 0px;
}

.mde .toolbox .btn.active{
  background: #000000;
  color: white;
}

.mde .toolbox .btn .icon-plus{
  font-size: 17px;
  line-height: 30px;;
}

.mde .toolbox .btn:hover{
  background: #FF6B6B;
}

.mde .toolbox .btn:active{
  background: #B7B2B2;
}


/*
  bootstrap modal
*/
h4.modal-title{
  font-family: 'Lato', sans-serif;
  margin-right: 50px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 20px;
  font-weight: bold;
}

.modal-backdrop.am-fade{
  opacity:0.17;
}

.modal-content{
  border-radius: 2px;
  border: none;
  -webkit-box-shadow:0 0 8px #a7a7a7;
  box-shadow: 0 0 8px #a7a7a7;
}

.modal-body{
      padding: 0px;
}

/*
  Table of documents
*/
/*#table-of-documents{
  transform: translateX(300px);
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  width: 300px;
}

#table-of-documents ul{
  padding: 0;
  margin:0 ;
  list-style-type: none;
}

#table-of-documents ul li{
  list-style-type: none;
  
}*/

/*
  Modal:oversize;
*/
.modal.fullsize.link{
  width: 400px;
  left: 50%;
  margin-left: -200px;
  height: 300px;
  margin-top: -100px;
  top: 50%;
}

.modal.fullsize .close{
  position: absolute;
  right: 70px;
  top: 55px;
  opacity: 1;
  z-index: 3;
  text-shadow: none;
  text-align: right;
}

.modal.fullsize .close span{
  color: white;
  font-size: 25px;
  line-height: 50px;
}

.modal.fullsize .oversize{
  position: absolute;
  background: #454545;
  top:50px;
  left:50px;
  right: 50px;
  bottom: 50px;
  overflow:auto;
  color: #f0f0f0;
  z-index:1;
}


.modal.fullsize .oversize .wrapper {
  height: 100%;
  display: table;
  width: 100%;
  text-align: center;
}

.modal.fullsize .oversize .wrapper .header {
  display: table-row;
  height: 1px;
}

.modal.fullsize .oversize .wrapper .header .inner{
  padding: 0 50px 10px 0;
}

.modal.fullsize .oversize .wrapper .header .inner h2{
  margin-top: 0;
  padding: 20px 50px 10px 20px;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
}

.modal.fullsize .oversize .wrapper .header .inner .contents{
  font-size: 13px;
  padding: 0 20px;
  color: #E6E5E5;
  text-align: left;
}
.modal.fullsize .oversize .wrapper .header .inner .contents span{
  font-size: inherit;
  color: #E6E5E5;
}

.modal.fullsize .oversize .wrapper .main {
  height: 100%;
  display: table;
  width: 100%;
}

.modal.fullsize .oversize .wrapper .box {
  display: table-cell;
  position: relative;
}

.modal.fullsize .oversize .wrapper .box .embedded{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  background-color: #151515;
}

.modal.fullsize .oversize .wrapper .sidebar {
  width: 10px;
}

.modal.fullsize .oversize .wrapper .footer {
  display: table-row;
  height:1px;
}

.modal.fullsize .oversize .wrapper .footer .inner{
  text-align: left;
  padding:10px 20px;
}


/*
  Lazy box (image background)
*/
.lazy-box{
  height: 280px;
}

.metadata{
  background-color: #f0efef;
  padding: 10px;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
}

/*
  oembed tiny preview
*/
.modal .section.padded {
  padding: 0 20px 20px 20px;
}

.doc blockquote{
  font-size: 12px;
  font-family: 'Merriweather';
  text-transform: none;
  font-style: italic;
  margin: 10px 50px 10px 20px;
}

.doc .divider{
  margin-top: 0px;
  margin-left: 20px;
  width: 20px;
  background-color: black;
  margin-bottom: 10px;
}

.doc .caption, .doc .copyright{
  font-size: 12px;
  margin: 10px 50px 10px 20px;
}

.doc .cover{
  background: #B7B2B2;
}



/*
  dribbble like documents
*/
.doc.oembedded:hover .tile, .doc.oembedded.active .tile{
  opacity: 1;
}


.doc.oembedded.active .tile{
  border-color: #FF6B6B;
}

.doc.oembedded .wrapper{
  position: relative;
} 

.doc.oembedded .tile{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background: rgba(236, 236, 236, 0.8);
  border: 10px solid white;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  font-size: 12px;
  line-height: 20px;
}

.doc.oembedded .tile{
  /*background-color: rgba(236, 236, 236, 1);*/
}
.doc.oembedded .title{
  font-weight:bold;
}

.doc.oembedded .excerpt{
  font-size: 13px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 10px;
}

.doc.oembedded .copyright{
  padding: 0;
  font-style: italic;
  margin: 10px 0 0 0;
}




ul.list-of-documents {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

ul.list-of-documents li{
      width: 268px;
    float: left;
    display: inline-block;
    height: 180px;
    margin-right: 20px;
    margin-bottom: 40px;
}
ul.list-of-documents li .doc {
  height: 180px;
}
ul.list-of-documents li .doc .lazy-box{
  height: 160px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.17);
}

/*
  More button
*/
.more-wrapper{
  text-align: center;
  display: block;
  clear: both;
}

/*
  Page profile
*/
div.profile, div.profile-others, div.profile-committee{
  min-height: 120px;
  margin-bottom: 20px;
  margin-top: 50px;
}

div.profile blockquote, div.profile-others blockquote, div.profile-committee blockquote{
  margin-left: 70px;
  margin-bottom: 0px;
}

div.profile blockquote p, div.profile-others blockquote p, div.profile-committee blockquote p{
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

div.profile h3, div.profile-others h3, div.profile-committee h3{
  margin-bottom: 0;
}

div.profile > p, div.profile-others > p, div.profile-committee > p{
  margin-left: 120px;
}

div.profile .profile-thumb,  div.profile-committee .profile-thumb, div.profile-others .profile-thumb{
  float: left;
  height: 120px;
  width: 120px;
  margin-right: 20px;
  /*border: 2px solid #d0d0d0;*/
  border-radius: 100px;
  background-size: cover;
  background-color: #ccc;
}

/*div.profile-committee .profile-thumb{
  border-color: #4ECDC4;
}

div.profile-others .profile-thumb{
  border-color: #a7a7a7;
}
*/

#search-wrapper{
  width: 110px;
  padding-top: 16px;
  font-family: 'Lato', sans-serif;
}

#search-wrapper .input-group {
  border-bottom: 2px solid #f0f0f0;
  transition: border-color 0.3s ease-in-out;
}

#search-wrapper .input-group:hover{
  border-color: #4ECDC4;
}

#search-wrapper input{
  border: 0;
  box-shadow: none;
  border-radius: 0;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 13px;
}

#search-wrapper button{
  color:  #aaa;
  background-color: transparent;
  padding-left: 0;
  padding-right: 5px;
}

#search-wrapper .input-group:hover button{
  color: #4ECDC4;
}


@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}