/* Resume */
/*
  p, a etc.
*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4{
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #454545;
}
h1, .h1 {
  margin-top:40px;
  margin-bottom:30px;
  font-size: 45px;
  line-height: 60px;
  color: #151515;
}

.contents h1, .contents .h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 40px;
}

.page .contents h1, .page .contents .h1 {
  margin-top:40px;
  margin-bottom:30px;
  font-size: 45px;
  line-height: 60px;
}

.page .contents .abstract{
  font-size: 20px;
  line-height: 35px;
  border-left: 0px;
  padding: 0;
}


h2, .h2 {
  font-size: 22px;
  line-height: 35px;
  margin-top: 30px;
  margin-bottom: 10px;
  /*color: #454545;*/
}

h3, .h3, h4, .h4 {
  font-size: 19px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  /*color: #454545;*/
}

a{
  cursor: pointer;
}

.center{
  text-align: center;
}

.small{
  font-size: 12px;
  line-height: 20px;
}

.no-margin-top{
  margin-top:0;
}

.filters{
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

.filters .filter{
    display: inline-block;
    margin: 0 2px;
    padding: 0 5px 0 10px;
    font: 11px/25px "Lato",sans-serif;
    color: #585858;
    text-transform: uppercase;
    border: 2px solid #B7B2B2;
    font-weight: bold;

}

.filters .filter.tags > span{

}

.filters .filter.q{
      text-transform: none;
    border: none;
    font-size: 25px;
    padding-left: 0;
    line-height: 25px;
}

.filters .filter .icon{
  line-height: 25px;
}

.match{
  background-color: #C7F464;
}
blockquote, blockquote p{
  font-size: 20px;
  line-height: 35px;
  border-left: 2px solid #ddd;
  border-left: 0px;
  padding:0;
}

blockquote.reduced, blockquote.reduced p{
  font-size: 15px;
  line-height: 25px;
}

.alert{
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;
  background: #FF6B6B;
  color: white;
  width: 200px;
  z-index: 100;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



a{
  color: #4ECDC4;
}

a:hover, a:focus {
  color: #000;
  text-decoration: underline;
}


label{
  margin-top: 20px;
}


ul.errorlist{
  font-size: 11px;
  line-height: 18px;
  list-style-type: none;
  padding:5px;
  margin:0;
}
/*
  generic classes
*/
.sans-serif, label{
  font-family: 'Lato', sans-serif;
}

.icon{
  font-size: 15px;
      font-family: 'simple-line-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
  elastic textarea
*/
.elastic-textarea-wrapper{
  padding: 10px;
  background: #f0f0f0
}

.elastic-textarea{
  /*#draft-title, #draft-abstract,  .elastic-textarea{*/
  border: 0px solid transparent;
  display: block;
  font-size: 15px;
  width: 100%;
  border-bottom: 2px solid #E6E5E5;
  transition: border-color .25s ease-in-out, border-color .25s ease-in-out;
  border-bottom-width: 2px;
  background: #f0f0f0;
  padding: 0px;
  /*text-align: justify;*/
}

.iframe-wrapper {
  position: relative;
  background: #e0e0e0;
}

.iframe-wrapper .iframe-viewport{
  overflow: hidden;
  transition: height .37s ease-in-out;
  height: 0;
  text-align: center;
}



/*.iframe-wrapper .iframe-viewport.active{
  height: 400px;
}

.iframe-wrapper.with-thumbnail .iframe-viewport, .iframe-wrapper.with-thumbnail .iframe-viewport.active{
  height: 400px;
}


.medium .iframe-wrapper.with-thumbnail .iframe-viewport, .iframe-wrapper.with-thumbnail .iframe-viewport.active{
  height: 200px;
}


.iframe-wrapper.with-thumbnail .iframe-viewport > img{
  height: 400px;
  margin: 0 auto;
}

.iframe-wrapper > a.toggle-preview {
    background-color: #f0efef;
    padding: 10px;
    position: absolute;
    left: -50px;
    top: 100%;
    width: 40px;
    height: 40px;
    line-height: 20px;
    border-radius: 20px;
}

.iframe-wrapper > a.toggle-preview:hover, .iframe-wrapper > a.toggle-preview:focus{
  text-decoration: none;
}

.iframe-wrapper > a.toggle-preview .icon{
  font-size: 20px;
  color: #151515;
}



.image-wrapper.cover{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 10px;
  padding: 0;
}

.contents .lazy-placeholder.medium .image-wrapper.cover{
  margin: 0;
  height: 100%;
  width: 100%;
  background-color:#151515;
  background-size: cover;
  background-position: center;
  border: 2px solid #ddd;
}*/

.image-wrapper {
  text-align: center;
  height: 100%;
  
}

.image-wrapper img{
  height: 100%;
}

.elastic-textarea:focus{
  border-color: #4ECDC4 ;
  background: #ffffff;
  outline: none;

}

/*
  collection speciic style
*/
.collection{
  /*background-color: #f0f0f0;*/
}
.collection .chapter{
  background-color: white; 
  min-height: 200px;
  margin-bottom: 2px;
  position: relative;
}

.collection .chapter .number{
      position: absolute;
    left: 20px;
    width: 30px;
    font-size: 20px;
    z-index: 1;
    top: 53px;
    text-align: center;
    border: 2px solid #151515 ;
    color: #151515;
    border-radius: 30px;
    height: 30px;
    font-family: 'Lato'
}

.collection .chapter .inner{
  padding: 20px 50px 50px 50px;
}

.collection .chapter h2{
  font-size: 20px;
    line-height: 30px;
    margin-top: 5px;
}
.collection .chapter .tags{
    margin-top: 15px;
}

.collection .chapter blockquote{
  font-size: 15px;
    line-height: 20px;
}

.collection .cover-wrapper{
  /*background-color: #F0F0F0;*/
  margin: 0;
  min-height: 400px;
}

.collection .cover-wrapper.alternate{
  /*background-color: #F0F0F0;*/
  min-height: auto;
}

.collection  .image-wrapper.cover{
  margin: 0;
}

.collection .story .contents h1 {
  margin-top:40px;
  font-size: 30px;
  line-height: 50px;
  color: #151515;
}

.collection .story .contents h2 {
  margin-top:40px;
  font-size: 25px;
  line-height: 40px;
}

.collection .story .contents  h3 {
  margin-top:40px;
  font-size: 20px;
  line-height: 30px;
}

.collection .story .contents  h4{
  margin-top:40px;
  font-size: 20px;
  line-height: 30px;
}

/*
  override bootstrap pagination: usage within the collection;
*/
.pagination{
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 2px;
}

.pagination > li > a, .pagination > li > span{
  margin: 0 5px;
  border: 2px solid transparent;
  /*border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;*/
  color: #aaa;
  padding: 0;
  width: 30px;
  line-height: 26px;
  height: 30px;
  text-align: center;
  font-family: 'Lato';
  font-size: 13px;
  transition: border-color .36s ease-in-out;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
  border: 2px solid transparent;
  border-bottom: 2px solid #4ECDC4;
  color: #4ECDC4;
  background: transparent;
}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus{
  border: 2px solid transparent;
  border-bottom: 2px solid #FF6B6B;
  color: #FF6B6B;
  background: transparent;
}



.pagination > li:last-child > a, .pagination > li:last-child > span, 
.pagination > li:first-child > a, .pagination > li:first-child > span{
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

/*
  top: #breaking-news div
*/
#breaking-news .item{
  float:left;
  width:33%;
  color: white;
  height: 100%;
  background: #111;
}

#breaking-news .item .wrapper{
  position: relative;
  height: 100%;
  width: 100%;
}

#breaking-news .item .overlay{
  position: absolute;
  bottom: 0px;
  background-color: rgba(16,16,16,.3);
  left: 0;
  right: 0;
  padding: 10px 20px 0 20px;
}

#breaking-news .item h3{
  color: #F0F0F0;
  font-size: 16px;
  line-height: 25px;
  border-bottom: 2px solid #FF6B6B;
  margin: 0 0 15px 0;
  padding: 0px 0 10px 0;
  max-height: 58px;
  overflow: hidden;
}
#breaking-news .item .tags {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
}
#breaking-news .item a{
  color: #f0f0f0;
}
#breaking-news .item a:hover, #breaking-news .item a:focus{
  color: white
}

/*
  ToC
*/
#table-of-contents h2, #table-of-documents h2{
  margin-top: 120px;
  margin-left: 40px;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;  
}

#inner-table-of-contents-toggler {
  position:absolute;
  top: 85px;
  left: 40px;
  transition: opacity .3s ease-in-out;

}

#inner-table-of-contents-toggler .save{
  position: absolute;
  top: 0;
  left: 40px;
 
}

#inner-table-of-contents-toggler .save .btn-transparent {
   background-color: rgba(255,255,255,.5);
}

#inner-table-of-contents-toggler .btn-transparent {
  background-color: #000;
}
#inner-table-of-contents-toggler .btn-transparent:hover {
  background-color: #4ECDC4;
}

#table-of-contents ul{
  padding: 0;
  margin: 0 20px 0 40px;
  position: absolute;
  top: 190px;
  bottom: 0px;
  overflow: auto;
}

#table-of-contents ul li{
  font-size: 11px;
  font-weight: normal;
  color: black;
  list-style-type: none;
  padding: 0;
      margin: 0 0 10px 0;
}

#table-of-contents ul li a {
  color: black;
  cursor: pointer;
}

#table-of-contents ul li.heading-2{
  margin-top: 10px;
}

#table-of-contents ul li.heading-3{
  margin-left: 10px;
}


#table-of-contents ul li.heading-4{
  margin-left: 20px;
}

/*
  view
*/
.view{
  position: relative;
  text-align: justify;
  margin-top: 240px;
  margin-bottom: 50px;
  /*padding: 0 40px;*/
  transition: transform .27s ease-in-out;
}

.container{
  padding-right: 30px;
  padding-right: 30px;
}

.container.with-ToC .view{
  /*transform: translateX(200px);*/
  /*padding-right: 200px;*/
}

.container.with-ToC .view .actions{
  /*transform: translateX(200px);*/
}

.anchor{
  position:absolute;
  margin-top: -80px;
}

.actions{
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
}

.tags .tag{
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}


.tag a{
  color: #151515;
}





.date{
  color: #FF6B6B;
}

.divider {
  width: 40px;
  height: 2px;
  background: #151515;
  margin-top: 20px;
  margin-bottom: 0px;
}

.story.lite{
  background: #f0f0f0;
  /*padding: 17px 20px;*/
  padding: 20px;
  margin-bottom: 20px;
}

.story.lite h3{
  margin-top: 30px;
}

.story.lite h3 a {
  font-size: 30px;
  color: #333;
}


.story.lite blockquote{
  border-left: 0px;
  padding:0;
}
.story.lite blockquote p{
  font-size: 15px;
  line-height: 25px;
  margin-top: 5px
}

/*
  Index page
*/
.coverstory.story.lite{
  margin-bottom: 0px;
}

.coverstory h4 {
  margin-top:20px;
}

.coverstory h4 a{
  font-size: 20px;
  color: #333;
}

.coverstory .divider{
  margin-bottom: 20px;
}

/*
  contents (story)
*/
.contents{
  text-align: justify;
}

.contents blockquote{
  padding: 0 20px;
}

.contents blockquote p{
  font-size: 13px;
  line-height: 20px;
}

.contents .paragraph-number{
  position: absolute;
  left: 0px;
  text-align: right;
  color: #ccc;
}

.contents a.special-link{
  color: #151515;
  background-color: #cef3f0;
  display: inline-block;
  padding-left: 5px;
  transition: background-color .36s ease-in;
  cursor: pointer;
}

.contents a.special-link:hover{
  background-color:#4ECDC4;
  text-decoration: none;
}

.contents a.special-link.active, .contents .footnote-ref.active a{
  background-color: #4ECDC4;
  color: white;
}



.contents a.special-link > .icon{
  float: right;
  line-height: 25px;
  padding: 0 5px;
}

.contents a.special-link.glossary{
  /*color: #000;*/
  font-style: italic;
  /*background: transparent;*/
}

.contents a.special-link .anchor-wrapper{
  position: absolute;
  right: -50%;
  width: 50%;
  
  height: 25px;
  display: block;
  z-index: 2;
  font-size: 12px;
  line-height: 25px;

  font-weight: normal;
  font-style: normal;
  display:none;
  
}

.contents a.special-link.with-pointer{
  padding: 0 5px;
}

.contents a.special-link.with-pointer > .icon{
    float: none;
    position: absolute;
    right: -15px;
    /*border: 1px solid #4ECDC4;*/
    width: 25px;
    height: 25px;
    border-radius: 25px;lazy-placeholder
    color: #4ECDC4;
    
}
.contents .placeholder{
  margin-top: 15px;
}

.contents .lazy-placeholder .metadata .button{
  display: none;
}

.contents .lazy-placeholder.medium .image-wrapper{
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-top: 10px;
  padding:0;
}

.contents .lazy-placeholder.medium .metadata{
  background-color: transparent;
}

.contents .switch{
  height: 300px;
}

.contents .lazy-placeholder.medium .doc{
  min-height: 200px;
  margin-bottom: 20px;
}
.contents .lazy-placeholder.medium .switch{
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.contents a:hover{

}

.contents  a{
      word-wrap: break-word;
}


.contents .footnote-contents{
  background: #f0f0f0;
  margin: 10px 0;
  padding: 10px 10px 1px 10px;
  font-size: 12px;
  color: #837c7c;
  line-height: 20px;
  position: relative;
}

.contents .footnote-anchor{
  position: absolute;
  top: 9px;
  left: -40px;
  width: 30px;
  
  text-align: right;
  margin: 0;
  padding: 0;
  color: #151515;
}

.contents .footnote-contents p, .contents .footnote-contents span{
  font-size: 12px;
  line-height: 20px;
}

.contents .footnote a{
  background-color: #adebe7;
  padding: 0 5px;
  display: inline-block;
  color: #151515;
}

.contents .footnotes{
  display: none;
}


.contents hr.footnotes-sep{
  display: none;
}

/*
  draft
*/

#draft-abstract, #draft-title{
  font-size: 15px;
  line-height: 25px;
  padding: 10px 0px;
  background-color: transparent;
}

#draft-title{
  font-size: 30px;  
  line-height: 45px;
   min-height: 90px;
}

#draft-abstract{
  font-size: 18px;  
  line-height: 30px;
   min-height: 60px;
}

.CodeMirror{
  border-top: 2px solid #E6E5E5;
  border-bottom: 2px solid #E6E5E5;
  border-left-width: 0;
  border-right-width: 0;
}
.cover-preview {
  overflow: auto;
  text-align:left;
}
.cover-preview .lazy-box{
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 10px;
}

.cover-preview .title{
  max-height: 57px;
  line-height: 19px;
  overflow: hidden;
  font-size: 12px;
  margin-right: 10px;
}

.cover-preview-wrapper .btn-line-group{
      margin-top: 10px;
    width: 100%;
    text-align: center;
}

.cover-preview-wrapper .btn-line-group .btn-line{
  width: 100%
}

.cover-preview-wrapper {
  margin-top: 50px;
}

.cover-preview .copyright{
  max-height: 40px;
  overflow: hidden;
  font-size: 10px;
  line-height: 20px;
  margin-right: 0px;
  margin-top: 3px;
}


/*
  bootstrap tabs
*/
.nav-tabs {
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
}

.nav-tabs > li{
  padding: 22px 10px 20px 0px;
}

.nav-tabs > li > a{
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #aaa;
  border: 2px solid transparent;
  border-radius: 0;
  line-height: 20px;
  padding: 0 10px;
  transition: color .25s ease-in-out, border-color .25s ease-in-out;
}

.nav > li > a:hover, .nav > li > a:focus{
  color: #4ECDC4;
  border: 2px solid #4ECDC4;
  background-color: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  color: #FF6B6B;
  border: 2px solid #FF6B6B;
    
}


/*
  ng-tags-input
*/
.tags-input{
  display:block;
  position: relative;
}
.tags-input *,
.tags-input :after,
.tags-input :before{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
.tags-input .host{position:relative;margin-top:5px;margin-bottom:5px;height:100%}
.tags-input .host:active{outline:0}
.tags-input .tags{
  /*-moz-appearance:textfield;*/
  /*-webkit-appearance:textfield;*/
  padding:1px;
  overflow:hidden;
  word-wrap:break-word;
  cursor:text;
  background-color: transparent;
  height:100%;
  border-bottom: 2px solid #E6E5E5;
  margin: 0;
  transition: border-color .25s ease-in-out;
}

.tags-input .tags input{
   background-color: transparent; 
}

.tags-input .tags.focused{
  outline:0;
  border-bottom: 2px solid #4ECDC4;
  background: #fff;
 /* -webkit-box-shadow:0 0 3px 1px rgba(5,139,242,.6);
  -moz-box-shadow:0 0 3px 1px rgba(5,139,242,.6);
  box-shadow:0 0 3px 1px rgba(5,139,242,.6)*/
}
.tags-input .tags.focused input{
  background-color:#fff;
}

.tags-input .tags .tag-list{margin:0;padding:0;list-style-type:none}
.tags-input .tags .tag-item{
  margin: 2px;
  padding: 0 0px 0 10px;
  display: inline-block;
  float: left;
  font: 10px "Lato",sans-serif;
  height: 25px;
  line-height: 25px;
  color: #585858;
  text-transform: uppercase;
  border: 2px solid #B7B2B2;
  font-weight: bold;
}

.tags-input .tags .tag-item > ti-tag-item{
    display: block;
    padding: 0;
    line-height: 22px;
}

.tags-input .tags .tag-item:hover .remove-button{
  color: white;
}

.tags-input .tags .tag-item .type{
  color: #B7B2B2;
  font-size: inherit;
  line-height: inherit;
}

.tags-input .tags .tag-item.selected{
  background-color: #ff5c5c
}

.tags-input .tags .tag-item.selected .type{
  color: #e0e0e0;
}


.tags-input .tags .tag-item .remove-button{
     margin: 0 5px 0 5px;
    padding: 0;
    border: none;
    background: 0 0;
    cursor: pointer;
    vertical-align: middle;
    color: #585858;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
}

.tags-input .tags .input.invalid-tag,
.tags-input .tags .tag-item .remove-button:active{color:red}
.tags-input .tags .input{border:0;outline:0;margin:2px;padding:0 0 0 5px;float:left;height:26px;font:14px "Lato",sans-serif}
.tags-input .tags .input::-ms-clear{display:none}
.tags-input.ng-invalid .tags{
  border-color: #ff5c5c;
  
}
.tags-input[disabled] .host:focus{outline:0}
.tags-input[disabled] .tags{background-color:#eee;cursor:default}

.tags-input[disabled] .tags .tag-item{opacity:.65;background:-webkit-linear-gradient(top,#f0f9ff 0,rgba(203,235,255,.75)47%,rgba(161,219,255,.62)100%);background:linear-gradient(to bottom,#f0f9ff 0,rgba(203,235,255,.75)47%,rgba(161,219,255,.62)100%)}
.tags-input[disabled] .tags .tag-item .remove-button{cursor:default}
.tags-input[disabled] .tags .tag-item .remove-button:active{color:#585858}
.tags-input[disabled] .tags .input{background-color:#eee;cursor:default}

.tags-input .autocomplete{
  margin-top:5px;
  position:absolute;
  padding:5px 0;
  z-index:999;
  width:100%;
  max-width: 300px;
  background-color:#fff;
  border:1px solid rgba(0,0,0,.2);
  -webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow:0 5px 10px rgba(0,0,0,.2);
  box-shadow:0 5px 10px rgba(0,0,0,.2)
}

.tags-input .autocomplete .suggestion-list{margin:0;padding:0;list-style-type:none;max-height:280px;overflow-y:auto;position:relative}
.tags-input .autocomplete .suggestion-item{padding:5px 10px;cursor:pointer;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font:16px "Lato",sans-serif;color:#000;background-color:#fff}
.tags-input .autocomplete .suggestion-item.selected,
.tags-input .autocomplete .suggestion-item.selected em{color:#fff;background-color:#0097cf}
.tags-input .autocomplete .suggestion-item em{font:normal bold 16px "Lato",sans-serif;color:#000;background-color:#fff}



.mde .wand{
  position: absolute;
  left: -30px;
  top: 3px;
  font-size: 18px;
  color: white;
  height: 22px;
  right: 0px;
  text-align: left;
  /*border-bottom: 1px solid #353535;*/
   /*transition: transform .27s ease-in-out; */
  
  /*transition: transform .27s ease-in-out;*/
}

.mde .mde-modified{
  /*background: #e0e0e0;*/

}

.mde .wand .btn{
  background: white;
  padding: 0;
  border-radius: 0;
  line-height: 22px;
  width: 30px;
  height: 22px;
}

.mde .wand .btn .icon-plus{
  color: #151515;
  font-size:17px;
  line-height: 22px;
  background: white;
}

.mde .toolbox{
  position: absolute;
  left: 0;
  top: -30px;
  font-size: 18px;
  height: 30px;
  background: #E6E5E5;
  transition:  background-color .27s ease-in-out;
  -webkit-transition: background-color .27s ease-in-out;
 /*border-bottom: 2px solid #f0f0f0;*/
  z-index: 100;
}

.mde .toolbox.active, .mde .toolbox:hover{
  background: #151515;
  color: #999999;
}


.mde .toolbox .btn{
  height: 30px;
  width: 30px;
  margin: 0;
  line-height: 30px;
  padding: 0;
  color: #d0d0d0;
  background: transparent;
  border-radius: 0px;
}

.mde .toolbox .btn.active{
  background: #000000;
  color: white;
}

.mde .toolbox .btn .icon-plus{
  font-size: 17px;
  line-height: 30px;;
}

.mde .toolbox .btn:hover{
  background: #FF6B6B;
}

.mde .toolbox .btn:active{
  background: #B7B2B2;
}


/*
  bootstrap modal
*/
h4.modal-title{
  font-family: 'Lato', sans-serif;
  margin-right: 50px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 20px;
  font-weight: bold;
}

.modal-backdrop.am-fade{
  opacity:0.17;
}

.modal-content{
  border-radius: 2px;
  border: none;
  -webkit-box-shadow:0 0 8px #a7a7a7;
  box-shadow: 0 0 8px #a7a7a7;
}

.modal-body{
      padding: 0px;
}

/*
  Table of documents
*/
/*#table-of-documents{
  transform: translateX(300px);
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  width: 300px;
}

#table-of-documents ul{
  padding: 0;
  margin:0 ;
  list-style-type: none;
}

#table-of-documents ul li{
  list-style-type: none;
  
}*/

/*
  Modal:oversize;
*/
.modal.fullsize.link{
  width: 400px;
  left: 50%;
  margin-left: -200px;
  height: 300px;
  margin-top: -100px;
  top: 50%;
}

.modal.fullsize .close{
  position: absolute;
  right: 70px;
  top: 55px;
  opacity: 1;
  z-index: 3;
  text-shadow: none;
  text-align: right;
}

.modal.fullsize .close span{
  color: white;
  font-size: 25px;
  line-height: 50px;
}

.modal.fullsize .oversize{
  position: absolute;
  background: #454545;
  top:50px;
  left:50px;
  right: 50px;
  bottom: 50px;
  overflow:auto;
  color: #f0f0f0;
  z-index:1;
}


.modal.fullsize .oversize .wrapper {
  height: 100%;
  display: table;
  width: 100%;
  text-align: center;
}

.modal.fullsize .oversize .wrapper .header {
  display: table-row;
  height: 1px;
}

.modal.fullsize .oversize .wrapper .header .inner{
  padding: 0 50px 10px 0;
}

.modal.fullsize .oversize .wrapper .header .inner h2{
  margin-top: 0;
  padding: 20px 50px 10px 20px;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
}

.modal.fullsize .oversize .wrapper .header .inner .contents{
  font-size: 13px;
  padding: 0 20px;
  color: #E6E5E5;
  text-align: left;
}
.modal.fullsize .oversize .wrapper .header .inner .contents span{
  font-size: inherit;
  color: #E6E5E5;
}

.modal.fullsize .oversize .wrapper .main {
  height: 100%;
  display: table;
  width: 100%;
}

.modal.fullsize .oversize .wrapper .box {
  display: table-cell;
  position: relative;
}

.modal.fullsize .oversize .wrapper .box .embedded{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  background-color: #151515;
}

.modal.fullsize .oversize .wrapper .box .embedded .image{
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.modal.fullsize .oversize .wrapper .sidebar {
  width: 10px;
}

.modal.fullsize .oversize .wrapper .footer {
  display: table-row;
  height:1px;
}

.modal.fullsize .oversize .wrapper .footer .inner{
  text-align: left;
  padding:10px 20px 15px 20px;
  font-size: 11px;
    line-height: 18px;
    color: #bbb;
}


/*
  Lazy box (image background)
*/
.lazy-box{
  height: 280px;
}

.metadata{
  background-color: #f0efef;
  padding: 10px;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
}

.metadata .title{
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.metadata a{
  /*color: #2d9f98;*/
  /*background-color: #afe9e5;*/
  color: #9c9696;
  word-break: break-all;
  text-decoration: underline;
}

.metadata a:hover{
  /*color: #2d9f98;*/
  /*background-color: #afe9e5;*/
  color: #151515;
  
  text-decoration: none;
}


.metadata .rich-oembed-iframe-wrapper{
  height: 200px;
}

.rich-oembed-iframe-wrapper .rich-oembed-iframe-viewport{
  height: 100%;
}

.rich-oembed-iframe-wrapper{
  overflow: hidden;
}
.rich-oembed-iframe-wrapper > .actions {
  bottom: 0;
  top: auto;
  right: 0;
  text-align: center;
  transform: translateY(28px);
  transition: transform .16s ease-in-out;
}

.rich-oembed-iframe-wrapper > .actions > .action {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: rgba(0,0,0,.52);
  color: white;
  line-height:  30px;
  padding-top: 2px;
  transition: background-color .16s ease-in-out;
}

.rich-oembed-iframe-wrapper > .actions > .action:hover{
  background-color: #151515;
  text-decoration: none;
}

.rich-oembed-iframe-wrapper:hover > .actions {
  transform: translateY(0px);
}

.rich-oembed-iframe-wrapper{
  height: 100%;
  background-color: #f0efef;
  position: relative
}

.rich-oembed-iframe-wrapper .toggle-preview{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  background-color: #4ECDC4;
  display: none;
}

/*
  oembed tiny preview
*/
.modal .section.padded {
  padding: 0 20px 20px 20px;
}

.doc blockquote{
  font-size: 12px;
  font-family: 'Merriweather', serif;
  text-transform: none;
  font-style: italic;
  margin: 10px 50px 10px 20px;
}

.doc .divider{
  margin-top: 0px;
  margin-left: 20px;
  width: 20px;
  background-color: black;
  margin-bottom: 10px;
}

.doc .caption, .doc .copyright{
      font-size: 11px;
    margin: 0 0 10px;
    line-height: 18px;
}

.cover{
  background-color: #f0f0f0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.story .cover.main {
  background-color: transparent;
}
.story .cover.main .cover-oembed{
  height: 400px;
}

.story .cover.main .metadata{
  margin: 0;
  background-color: transparent;
  padding: 10px 5px;
  /*margin-right: 40%;*/
  margin-bottom: 40px;
}

.story .cover.main .metadata .title,
.story .cover.main .metadata .caption,
.story .cover.main .metadata .copyright {
  display: inline;
}

.story .overlay .cover.main{
  margin-bottom: 20px;
  min-height: 400px;
}

.story .overlay .cover.main .image-wrapper.cover{
  margin: 0;
  background-color: #bcbcbc;
}

.story .share{
  font-size: 10px;
  line-height: inherit;
  color: #9c9696;
  font-family: Lato;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
}

/*
  dribbble like documents
*/
.doc.oembedded:hover .tile, .doc.oembedded.active .tile{
  opacity: 1;
}


.doc.oembedded.active .tile{
  border-color: #FF6B6B;
}

.doc.oembedded .wrapper{
  position: relative;
} 

.doc.oembedded .tile{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background: rgba(236, 236, 236, 0.8);
  border: 10px solid white;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  font-size: 12px;
  line-height: 20px;
}

.doc.oembedded .tile{
  /*background-color: rgba(236, 236, 236, 1);*/
}
.doc.oembedded .title{
  font-weight:bold;
  text-shadow: 0 0 3px rgba(255,255,255,.8);
}

.doc.oembedded .abstract{
  font-size: 11px;
  line-height: 16px;
  text-shadow: 0 0 3px rgba(255,255,255,.8);
}

.doc.oembedded .excerpt{
  font-size: 13px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 10px;
}

.doc.embedded .excerpt .type{
  font-family: 'Lato';
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.doc.oembedded .copyright{
  padding: 0;
  font-style: italic;
  margin: 10px 0 0 0;
}




ul.list-of-documents {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

ul.list-of-documents li{
      width: 268px;
    float: left;
    display: inline-block;
    height: 180px;
    margin-right: 20px;
    margin-bottom: 40px;
}
ul.list-of-documents li .doc {
  height: 180px;
}

ul.list-of-documents li .doc .lazy-box{
  height: 160px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.17);
  overflow: hidden;
}

ul.list-of-documents li .term .lazy-box .cover{
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 0;
}



/*
  More button
*/
.more-wrapper{
  text-align: center;
  display: block;
  clear: both;
}

/*
  Page profile
*/
div.profile, div.profile-others, div.profile-committee{
  min-height: 120px;
  margin-bottom: 20px;
  margin-top: 50px;
}

div.profile blockquote, div.profile-others blockquote, div.profile-committee blockquote{
  margin-left: 70px;
  margin-bottom: 0px;
}

div.profile blockquote p, div.profile-others blockquote p, div.profile-committee blockquote p{
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

div.profile h3, div.profile-others h3, div.profile-committee h3{
  margin-bottom: 0;
}

div.profile > p, div.profile-others > p, div.profile-committee > p{
  margin-left: 120px;
}

div.profile .profile-thumb,  div.profile-committee .profile-thumb, div.profile-others .profile-thumb{
  float: left;
  height: 120px;
  width: 120px;
  margin-right: 20px;
  /*border: 2px solid #d0d0d0;*/
  border-radius: 100px;
  background-size: cover;
  background-color: #ccc;
}

/*div.profile-committee .profile-thumb{
  border-color: #4ECDC4;
}

div.profile-others .profile-thumb{
  border-color: #a7a7a7;
}
*/

#search-wrapper{
  width: 110px;
  padding-top: 16px;
  font-family: 'Lato', sans-serif;
}

#search-wrapper .input-group {
  border-bottom: 2px solid #f0f0f0;
  transition: border-color 0.3s ease-in-out;
}

#search-wrapper .input-group:hover{
  border-color: #4ECDC4;
}

#search-wrapper input{
  border: 0;
  box-shadow: none;
  border-radius: 0;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 13px;
}

#search-wrapper button{
  color:  #aaa;
  background-color: transparent;
  padding-left: 0;
  padding-right: 5px;
}

#search-wrapper .input-group:hover button{
  color: #4ECDC4;
}


@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

/*
  drop-box upload
*/
.drop-box{
  height: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  background: #f0f0f0;
  border: 2px dashed #999;
  margin: 10px 0 20px 0;
}

.drop-box:hover{
  background: white;
  border: 2px solid #4ECDC4;
  color:#4ECDC4;
}

.drop-box-form-wrapper .uploadable{
  margin: 20px;
}

.drop-box-form-wrapper label, .drop-box-form-wrapper .button-wrapper{
  position: relative;
}

.drop-box-form-wrapper label .number, .drop-box-form-wrapper .button-wrapper .number{
    position: absolute;
    top: -2px;
    left: -45px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #B7B2B2;
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    padding: 0;
    margin: 0;
    color: #B7B2B2;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

}
.drop-box-form-wrapper label .number.active, .drop-box-form-wrapper .button-wrapper .number.active{
  color: #151515;
  border-color: #151515;
  
}

.drop-box-form-wrapper label .number.error, .drop-box-form-wrapper .button-wrapper .number.error{
-webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.drop-box-form-wrapper{
  margin-bottom: 100px;
}
.drop-box-form-wrapper .button-wrapper .number{
  top: 0px;
}

.drop-box-form-wrapper .btn-line{
  width: 100%
}

/*
  Sliding-staps directive
*/

.sliding-steps-direction{
  position: absolute;
  height: 50px;
      right: 15px;
    left: 15px;
    text-align: center;
    overflow: hidden;
}

.sliding-steps-direction .btn-line-group{
  margin-top: 10px;
}

.sliding-steps-direction .btn-line-group{
  transition: transform .36s ease-in-out;
  
}



.sliding-steps-direction.top{
  top: -50px;
}

.sliding-steps-direction.top .btn-line-group{
  transform: translateY(50px);
}

.sliding-steps-direction.bottom{
  bottom: -50px;
}

.sliding-steps-direction.bottom .btn-line-group{
  transform: translateY(-50px);
}

.sliding-steps-direction.top.active .btn-line-group, .sliding-steps-direction.bottom.active .btn-line-group{
  transform: translateY(0px);
}

/*#sliding-steps-line{
  position: absolute; 
  width: 100%; 
  height: 25px; 
  background-color: gold;
}*/

.sliding-steps-wrapper{
  overflow: hidden;
  height: 100%;
  border-top: 2px solid transparent;
  /*background: gold;*/
}

.sliding-steps-wrapper.more-top{
  border-top: 2px solid #ddd;
}

.sliding-steps-wrapper.more-bottom{
  border-bottom: 2px solid #ddd;
}

.sliding-steps{
  transition: transform .36s ease-in-out;

}
.sliding-steps .step{
  border-left: 2px solid transparent;
  border-bottom: 1px solid #f0efef;
  transition: border-color .36s ease-in-out;/*, opacity .36s ease-in-out;
  opacity: .5;*/
  word-wrap: break-word;
  margin-bottom: 20px;
  padding-bottom: 0px;
  position: relative;
  font-size: 11px;
    line-height: 18px;
}

.sliding-steps .step .external-link{
    
    padding: 9px 0;
}


.sliding-steps .step .footnote-wrapper .footnote>a {
  cursor: pointer;
  float: left;
  margin-right: 5px;
}

.sliding-steps .step .footnote-wrapper .footnote-anchor{
  display: none;
}

.sliding-steps .step .footnote-wrapper button{
  float: left;
  line-height: 18px;
  font-size: 11px;
  border: 0px solid transparent;
  font-weight: normal;
  padding: 0 4px;
  transition: background-color .36s ease-in-out;
}

.sliding-steps .step.active .footnote-wrapper button, .sliding-steps .step.active .metadata button.btn{
  background-color: #4ECDC4;
  color: #fff;
}

.metadata .doc{
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 0;
}

.metadata .doc .switch{
  height: 200px;
}

.metadata .doc .image-wrapper{
    background-color: #e6e5e5;
    border: 2px solid #e6e5e5;
}


.metadata .image-wrapper.cover{
  margin: 0;
}


.sliding-steps .step .caption{
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  margin-top: 9px;
}

.sliding-steps .step .metadata{
  font-size: 11px;
  line-height: 18px;
  background-color: transparent;
  transition: background-color .36s ease-in-out;
  margin-bottom: 0;

}
 .sliding-steps .step.active{
  /*opacity: 1;*/
  background-color: #f0efef;
}


.sliding-steps .step:hover .thumbnail > .thumbnail-image{
  transform: scale(1.05);
}

.sliding-steps .step:hover .thumbnail > .fullscreen{
  background-color:  #151515;
}

.sliding-steps .step.active{
  border-color: #4ECDC4;
  /*background-color: transparent;*/
  /*opacity: 1;*/
}


.sliding-steps .metadata .btn{
  background: #ddd;
  margin: 0 5px 0 0;
  border-radius: 0;
  font-size: 9px;
  color: #9c9696;
  height: 18px;
  padding: 0;
}

.sliding-steps .metadata .btn .icon{
  float: none;
  margin:0;
  line-height: 15px;
}
.sliding-steps .step .image-wrapper{
  height: 100%;
  padding-top: 0;
  
}

.thumbnail{
  height: 200px;
  background: #ddd;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border-width: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
      border-top: 2px solid #ddd;
}

.thumbnail.rich{
  height: 300px;
}

.thumbnail.video{
   height: 180px;
}

.thumbnail.rich > .thumbnail-embed, .thumbnail.video > .thumbnail-embed{
  height: 100%
}



/*.thumbnail.rich .iframe-wrapper.with-thumbnail .iframe-viewport, .thumbnail.rich .iframe-wrapper.with-thumbnail .iframe-viewport.active{
  height: 300px
}*/

.thumbnail > .thumbnail-image{
  height: 100%;
  background-size: cover;
  transition: transform .36s ease-in-out;
  z-index: 1;
}

.thumbnail > .fullscreen{
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: rgba(0,0,0,.52);
  color: white;
  text-align: center;
  transition: background-color .36s ease-in-out;
  z-index: 2;
}

.thumbnail > .fullscreen .icon{
  line-height: 31px;
}


.thumbnail > .fullscreen:hover{
  background-color: #4ECDC4;

}



.noembed-wrapper, .noembed-embed, .noembed-embed-inner{
  height: 100%
}

/*
  Special icons by documenttype
*/
.icon-type-image:before, .icon-type-photo:before, .icon-type-picture:before, .icon-type-video:before{
    content: "\e087";
}

.icon-type-link:before{
    content: "\e087";
}

.icon-type-rich:before{
    content: "\e087";
}

.icon-type-voc:before {
content: "\e07a";
}

/*
  Link snapshot
*/
.snapshot{
  float: left;
  height: 60px;
  width: 60px;
  margin-right: 10px;
  margin-top: 5px;
  background-color: #151515;
  background-size: cover;
  background-position: top center;
}


