<div class='oembedded doc doc-{{document.type}}' ng-class='{"active": document.id == selectedDocument.id}' ng-click='selectDocument(document)'>

  <!-- <div class='divider'>&nbsp;</div> -->
  
  <div class='wrapper'>
    <div ng-if='document.metadata'>
      <div src='document.metadata.thumbnail_url || document.metadata.urls.Preview || document.snapshot || document.metadata.url' lazy-image></div>
      <!-- <div ng-if='document.metadata.thumbnail_url' lazy-image src='document.metadata.thumbnail_url'></div>

      <div ng-if='!document.metadata.thumbnail_url && document.metadata.urls.Preview' lazy-image src='document.metadata.urls.Preview'></div>

      <div ng-if='!document.metadata.thumbnail_url && !document.metadata.urls.Preview' class='lazy-box'></div>
 -->
      <div class='tile'>
        <div class='title' embedit='document.metadata.title' language='language'></div>
        <div class='copyright' embedit='document.metadata.copyright'></div>
      </div>
    </div>
    <div ng-if='!document.metadata'>
      <div ng-if='document.urls.Preview' lazy-image src='document.urls.Preview'></div>
      <div ng-if='document.src' lazy-image src='document.src'></div>
      <!-- {{document}} -->
      <div class='tile'>
        <div class='title' embedit='document.title'></div>
        <div class='copyright' embedit='document.copyright'></div>
      </div>
    </div>
  </div>

  <div class='excerpt'><span class='type'>{{document.type}}</span> <span embedit='document.title'></span></div>
</div>