{% extends 'miller/index.html'%}
{% load staticfiles %}
{% load miller_extras %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col" style="background-color: #fff; margin-bottom: 30px;">
      <h1>{% lookupmulti locale "contact us" language %}</h1>
      {% if form.errors %}
      <p>{% lookupmulti locale "please correct the errors in the contact form" language %}</p>
      {% endif %}
    </div>
  </div>
  <form role="form" method="POST" action="">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group {% if form.errors.first_name %}has-error{% endif %}">
          <label for="id_signup_first_name">{% lookupmulti locale "first name" language %}*</label>

          <input type="text" class="form-control" value='{{ form.first_name.value|default_if_none:"" }}' id="id_signup_first_name" autofocus="autofocus" name="first_name" placeholder="" >
          {% if form.errors.first_name %}
          <span class='icon icon-arrow-up-circle' style='float: left; margin-right: 5px; line-height: 25px'></span> {{errors.first_name.code}}
          {% endif %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group {% if form.errors.last_name %}has-error{% endif %}">
          <label for="id_signup_last_name">{% lookupmulti locale "last name" language %}*</label>
          <input type="text" class="form-control" value='{{ form.last_name.value|default_if_none:"" }}' id="id_signup_last_name" autofocus="autofocus" name="last_name" placeholder="" >
          {% if form.errors.last_name %}
          <span class='icon icon-arrow-up-circle' style='float: left; margin-right: 5px; line-height: 25px'></span> {{errors.last_name.code}}
          {% endif %}
        </div>

      </div>
      <div class="col-sm-6">
        <div class="form-group {% if form.errors.email_from %}has-error{% endif %}">
          <label for="id_signup_email_from">{% lookupmulti locale "email" language %}*</label>
          <input type="text" value='{{ form.email_from.value|default_if_none:"" }}' class="form-control" id="id_signup_email_from"  name="email_from">
          {% if form.errors.email_from %}
            <span class='icon icon-arrow-up-circle' style='float: left; margin-right: 5px; line-height: 25px'></span> {{errors.email_from}}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group {% if form.errors.content %}has-error{% endif %}">
          <label for="id_signup_content">{% lookupmulti locale "contact message" language %}*</label>
          {% if form.errors.content %}
          <div>{{errors.content.code}}</div>
          {% endif %}
          <textarea class="form-control" id="id_signup_content"  name="content">{{ form.content.value|default_if_none:"" }}</textarea>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group {% if form.errors.captcha %}has-error{% endif %}">
          <label for="id_signup_captcha">{% lookupmulti locale "captcha below" language %}</label>
          <div>
          {{form.captcha}}

          {% if form.errors.captcha %}
          <span class='icon icon-arrow-right-circle' style='float: left; margin-right: 5px; line-height: 25px'></span> {{form.errors.captcha}}
          {% endif %}
          </div>
        </div>
        {% if next %}
        <input type="hidden" value="{{ next }}" name="next" />
        {% endif %}
        <input type="hidden" value="{{ language }}" name="language" />
        {% csrf_token %}
      </div>
    </div>
    {% if next %}
    <a class="btn btn-secondary" href='{{ next }}' type="submit">
      <span>&larr; {% lookupmulti locale "back" language %}</span>
    </a>
    {% endif %}
    <button class="btn btn-secondary" type="submit">
      <span>{% lookupmulti locale "send message" language %}</span>
    </button>
    </div>
  </form>
</div>
{% endblock %}
