<!-- <div ng-if='!$first' class="divider"></div> -->
<div class="story collection lite">
  <div class="divider"></div>
  <div class="tags" ng-if="story.tags.length">
    <span class='tag' ng-repeat='tag in story.tags|filter:"public"' ng-include='"templates/partials/tag.html"|prefixTemplate'></span>
  </div>
  <!-- <div class="date">{{story.date_created|date:'mediumDate'}}</div> -->
  
  <h3 class="title"><a ui-sref="collection({collectionId: story.slug})"><span embedit='story.metadata.title' language='language'></span> {{story.status != 'public'? '(DRAFT)': ''}}</a></h3>  
  
  <div class='authors' ng-if="story.authors.length">
    <span translate='by'></span> <span ng-repeat='author in story.authors' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
  </div>
  <blockquote ng-if='story.excerpt' class="reduced">{{story.excerpt}}.
    <a href ui-sref="collection({collectionId: story.slug})">
      <span class='icon-arrow-right-circle'></span>
    </a>
    <p>
      <em ng-if="story.difference">{{story.difference}}</em>
    </p>
  </blockquote>
  
  <blockquote ng-if='!story.excerpt' embedit='story.metadata.abstract' language='language'></blockquote>
</div>