<div class='doc doc-{{document.type}} {{document.isSelected?"active":""}}' ng-click='selectDocument(document)'>

      <div class='divider'>&nbsp;</div>
      <!-- this element has fixed height. -->
      <div ng-if='document.type=="video-cover"'>
        
        <div class='caption reference' markdown='document.metadata.reference.fr'></div>
        <div class='copyright'>{{document.copyrights}}</div>
        
      </div>

      <div ng-if='document.type=="picture"' lazy-image src='document.src'></div>
      
      <div ng-if='document.type=="image" && document.metadata.urls' lazy-image src='document.metadata.urls.Preview'></div>

      <div ng-if='document.type=="pdf"' lazy-image src='document.snapshot'></div>
      

      <blockquote ng-if='document.citation' markdown='document.citation'></blockquote>


      <div ng-if='document.metadata'>
        <div class='caption title' markdown='document.metadata.title'></div>
        <div class='caption reference' markdown='document.metadata.reference'></div>
        <div class='copyright' markdown='document.copyright'></div>

      </div>
      <div ng-if='!document.metadata'>
        <div ng-if='document.title' class='title'>{{document.title}}</div>
        <div ng-if='document.caption' class='caption'>{{document.caption}}</div>
        <div ng-if='document.copyrights' class='copyright'>{{document.copyrights}}</div>
        
      </div>

    </div>