<div class='metadata {{document.type}}'>
  <em ng-if='document.metadata.title' embedit='document.metadata.title' language='language' firstline='true'></em>
  <em ng-if='!document.metadata.title && document.title' embedit='document.title' language='language' firstline='true'></em>

  <span ng-if='document.metadata.author_name'>
    <span translate='by'></span>
    <a ng-href='{{document.metadata.author_url}}' target='_blank'>{{document.metadata.author_name}}</a>
  </span>
  <span ng-if='document.metadata.provider_name'>
    (<span translate='source'></span>:
    <a ng-href='{{document.metadata.url || document.metadata.provider_url}}' target='_blank'>{{document.metadata.provider_name}}</a>)
  </span>

<span ng-if='document.metadata.copyright' embedit='document.metadata.copyright' language='language' firstline='true'></span>
<span ng-if='user.is_staff' >&mdash; <a target='_blank' ng-href='/admin/miller/document/{{document.document_id || document.id}}/change/'>modify (admin)</a></span>
</div>