
<div class='doc doc-{{document.type}} {{document.isSelected?"active":""}}' ng-click='selectDocument(document)'>
  <!-- <div class='divider'>&nbsp;</div> -->
  
  <div class='switch' ng-if='document.type=="image"' ng-include='"templates/partials/document.image.html"|prefixTemplate'></div>

  <div class='switch' ng-if='document.type=="photo"' ng-include='"templates/partials/document.photo.html"|prefixTemplate'></div>


  <div class='switch' ng-if='document.type=="rich" || document.type=="video"' rich-oembed fullscreen='fullsize(document.slug)' oembed='document.metadata' cover='document.metadata.details.urls.Preview || document.snapshot ||  document.metadata.urls.Preview || document.metadata.thumbnail_url;'></div>

  <div class='switch' ng-if='document.type=="link" && document.metadata.thumbnail_url' ng-include='"templates/partials/document.image.html"|prefixTemplate'></div>

  <div class='switch' ng-if='document.type=="picture"' style='height: 400px; width:100%; background-position: center; background-color: #151515; background-size:contain; background-repeat: no-repeat;' lazy-img='{{document.src}}'></div>

  <div ng-if='document.metadata' ng-include='"templates/partials/document.metadata.html"|prefixTemplate'></div>

      <!-- this element has fixed height. -->
      <div ng-if='document.type=="video-cover"'>
        
        <div class='caption reference' markdown='document.metadata.reference.fr'></div>
        <div class='copyright'>{{document.copyrights}}</div>
        
      </div>

      

      <div ng-if='document.type=="pdf"' lazy-image src='document.snapshot'></div>
      

      <blockquote ng-if='document.citation' markdown='document.citation'></blockquote>


      
      <div ng-if='!document.metadata'>
        <div ng-if='document.title' class='title'>{{document.title}}</div>
        <div ng-if='document.caption' class='caption'>{{document.caption}}</div>
        <div ng-if='document.copyrights' class='copyright'>{{document.copyrights}}</div>
        
      </div>

      <div ng-if='document.type=="bibtex"'>
        <div class='caption'>
          <span ng-if='document.metadata.author'>{{document.metadata.author|bibtex}},</span>
          <span ng-if='document.metadata.editor'>{{document.metadata.editor|bibtex}}</span>(edited by)</span> 
          
          <em>{{document.metadata.title|bibtex}}</em>
          <span>{{document.metadata.publisher|bibtex}}</span>
          <span ng-if='document.metadata.year'>, <span>{{document.metadata.year|bibtex}}</span> 
        </div>
      </div>

      <div ng-if='document.type!="bibtex" && document.metadata.title'>
        <div class='caption' markdown='document.metadata.title'></div>
        <div ng-if='document.metadata.reference' class='caption reference' markdown='document.metadata.reference'></div>
        <div ng-if='document.metadata.copyright' class='copyright' markdown='document.metadata.copyright'></div>
        <div ng-if='document.metadata.author_name' class='copyright'>
          <a ng-href='{{document.metadata.author_url}}' target='_blank' markdown='document.metadata.author_name'></a>
        </div>
      </div>

    </div>