<div class='iframe-wrapper' ng-class='{"with-thumbnail": document.metadata.thumbnail_url}'>
  
  <a class='toggle-preview' href ng-click='__isIntoViewport = !__isIntoViewport'><span class='icon icon-eye'></span></a>
  <div class='iframe-viewport' ng-class='{"active":__isIntoViewport}'>
    <img ng-if='document.metadata.thumbnail_url' src='{{"images/spinner.gif"|prefixTemplate}}' lazy-img='{{document.metadata.thumbnail_url}}' />
    <div ng-if='__isIntoViewport' style='height: 100%' stretch='true' embedit='document.metadata.html' language='language'></div>
  </div>
</div>