<div class='mde'>
  <div class='toolbox'> 
      <button ng-disabled='isPreviewEnabled' class='btn {{activeStates.indexOf("strong") != -1?"active": ""}}' ng-click='action("toggleBold")'>B</button>
      <button ng-disabled='isPreviewEnabled' class='btn {{activeStates.indexOf("em") != -1?"active": ""}}' style='font-style:italic' ng-click='action("toggleItalic")'>I</button>
      <button ng-disabled='isPreviewEnabled' class='btn {{activeStates.indexOf("header-1") != -1?"active": ""}}' ng-click='action("toggleHeading1")'>H1</button>
      <button ng-disabled='isPreviewEnabled' class='btn {{activeStates.indexOf("header-2") != -1?"active": ""}}' ng-click='action("toggleHeading2")'>H2</button>
      <button ng-disabled='isPreviewEnabled' class='btn {{activeStates.indexOf("header-3") != -1?"active": ""}}' ng-click='action("toggleHeading3")'>H3</button>
      <button ng-disabled='isPreviewEnabled' class='btn {{activeStates.indexOf("quote") != -1?"active": ""}}' ng-click='action("toggleBlockquote")'>Q</button>

      <button style='width:70px' class='sans-serif btn {{isPreviewEnabled? "active": ""}}' ng-click='action("togglePreview")'>preview</button>

      <button ng-disabled='isPreviewEnabled' class='btn {{activeStates.indexOf("link") != -1|| activeStates.indexOf("url") != -1? "active": ""}}' ng-click='showReferenceModal()'><span class='icon-plus'></span></button>
      <!-- {{activeStates}} -->
  </div>
  <div class='wand' >
    <button class='btn' ng-disabled='!isPreviewEnabled' ng-click='showReferenceModal()'><span class='icon-plus'></span></button>    
  </div>

	<textarea class='mde-textarea' placeholder="write something..."></textarea>
</div>