<div class="wrapper">
  <div class="date">{{post.date}}</div>
  <h3><a ui-sref="post({postId: post.id})">{{post.title}} {{post.status != 'public'? '(DRAFT)': ''}}</a></h3>  
  {{post.abstract}} 
  <div class="tags" ng-if="post.tags.length">
    <span ng-repeat='tag in post.tags' ng-include='"templates/partials/tag.html"|prefixTemplate'></span>
  </div>
  
  <div class='authors' ng-if="post.authors.length">
    by <span ng-repeat='author in post.authors' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
  </div>
</div>