<div ng-if='!story.isCollection' class="story lite">
  <!-- <div ng-if='!$first' class="divider"></div> -->
  <div class="tags" ng-if="story.tags.length">
      <span class='tag' ng-repeat='tag in story.tags|filter:"public"' ng-include='"templates/partials/tag.html"|prefixTemplate'></span>
  </div>
  <div class="date">{{story.date|date:'mediumDate'}}</div>

  <div  class="divider"></div>


  <h3 class="title"><a ui-sref="story({postId: story.slug})"><span embedit='story.metadata.title' language='language'></span> {{story.status != 'public'? '['+story.status+']': ''}}</a></h3>  
  
  <blockquote ng-if='story.excerpt' class="reduced">{{story.excerpt}}.
    <a href ui-sref="story({postId: story.id})">
      <span class='icon-arrow-right-circle'></span>
    </a>
  </blockquote>
  
  <blockquote ng-if='!story.excerpt' embedit='story.metadata.abstract' language='language'></blockquote>


  <p>
    
    <!-- <span class='creator' ng-if="!story.authors.length">
      created by <span ng-init='author=story.owner;$last=true' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
    </span> -->
    <span class='authors' ng-if="story.authors.length">
      <span translate="written.by"></span> <span ng-repeat='author in story.authors' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
    </span>
    <a ng-if='user.is_staff' target='_blank' ng-href='/admin/miller/story/{{story.id}}/change/'>modify (admin)</a>
  
  </p>
</div>

<div ng-if='story.isCollection' ng-include='"templates/partials/collection.html"|prefixTemplate'></div>