<div class="share" >
  <span translate='share'></span>
  <a socialshare socialshare-provider="twitter" socialshare-text="{{OG.title}}" socialshare-via="{{settings.twitter.username}}" socialshare-hashtags="{{settings.twitter.socialtags}}" socialshare-url="{{absoluteUrl}}"><span class='icon icon-social-twitter'></span></a>

  <a socialshare socialshare-provider="facebook" socialshare-text="{{OG.title}}" socialshare-title="{{OG.title}}" socialshare-description="{{OG.description}}"  socialshare-hashtags="{{settings.socialtags}}" socialshare-media="{{OG.image}}" socialshare-via="{{settings.facebook}}" socialshare-type="feed" socialshare-url="{{absoluteUrl}}"><span class='icon icon-social-facebook'></span></a>
</div>