<!-- <h2>table of documents</h2>
 -->

<ul>
  <li ng-repeat="document in documents">
    <div class='doc doc-{{document.type}}'>
      <div class='divider'>&nbsp;</div>
      <!-- this element has fixed height. -->
      <div ng-if='document.type=="video-cover"'>
        
        <div class='caption reference' markdown='document.metadata.reference.fr'></div>
        <div class='copyright'>{{document.copyrights}}</div>
        
      </div>

      <div ng-if='document.type=="picture"'>
        
        <div lazy-image src='document.src'></div>
        <blockquote>{{document.citation}}</blockquote>
        <div class='caption'>{{document.caption}}</div>
        <div class='copyright'>{{document.copyrights}}</div>
        
      </div>

      <div ng-if='document.type=="image"'>
        <div lazy-image src='document.metadata.urls.Preview'></div>
        <div class='caption'>{{document.title}}</div>
        <div ng-if='document.caption' class='caption'>{{document.caption}}</div>
      </div>

      <div ng-if='document.type=="pdf"'>
        
        <div lazy-image src='{{document.snapshot}}'></div>
        <blockquote>{{document.citation}}</blockquote>
        <div class='caption'>{{document.caption}}</div>
        <div class='copyright'>{{document.copyrights}}</div>

      </div>
    </div>
  </li>

</ul>