<div ng-class='{"active": selectedDocument.id == term.id}' class='doc term oembedded' ng-click='selectDocument(term)'>
  <!-- this element has fixed height. -->
  <!-- {{term}} -->
  <div class='wrapper'>
    <div class='lazy-box'>
      
      <div ng-if='!term.covers.length' class='title' embedit='term.metadata.title' language="language" ></div>
      <div ng-if='!term.covers.length' class='copyright' embedit='term.metadata.abstract' language="language" ></div>
      <!-- {{term.covers}} -->
      <div class='cover' ng-repeat='cover in term.covers' lazy-img="{{ cover.metadata.thumbnail_url || cover.metadata.urls.Preview }}"></div>
    </div>
    <div class='tile'>
      <div class="tags" ng-if="term.tags.length">
        <span class="tag" ng-repeat='tag in term.tags|filter:{ category: "writing", status:"public" }' ng-include='"templates/partials/tag.html"|prefixTemplate'></span>
      </div>
      <div class='title' embedit='term.metadata.title' language="language"></div>
      <div class='abstract' embedit='term.metadata.abstract' language="language"></div>
      <div class='authors' ng-if="term.authors.length">
        by <span ng-repeat='author in term.authors' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
      </div>
      
    </div>
  </div>
  <div class='excerpt' embedit='term.metadata.title' language="language"></div>
</div>