<div ng-class='{"active": selectedDocument.id == term.id}' class='doc term oembedded' ng-click='selectDocument(term)'>
  <!-- this element has fixed height. -->
  <!-- {{term}} -->
  <div class='wrapper'>
    <div class='lazy-box'>
      <div class='title' embedit='term.metadata.title' language="language" ></div>
      <div class='copyright' embedit='term.metadata.abstract' language="language" ></div>
    </div>
    <div class='tile'>
      <div class='title' embedit='term.title'></div>
      <div class='authors' ng-if="term.authors.length">
        by <span ng-repeat='author in term.authors' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
      </div>
      
    </div>
  </div>
  <div class='excerpt' embedit='term.title'></div>
</div>