<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 1050; display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
      <button type="button" class="close" aria-label="Close" ng-click="$hide()">
      <span aria-hidden="true" class='icon-close'></span>
      </button>
      <h4 class="modal-title">add resource</h4></div>
      
      <div class="modal-body">

        
        <!-- <input type='text' class="form-control" placeholder="search ..."> -->
        <ul class="nav nav-tabs" style='padding-left:15px; margin-bottom:0' role="tablist">
          <li role='presentation' ng-class='{"active": _tab.name == tab.name}' ng-repeat='_tab in tabs'>
            <a ng-click='setTab(_tab.name)' translate='tab.{{_tab.name}}' aria-controls="home" role="tab" data-toggle="tab"></a>
          </li>
        </ul>

        
          <div ng-show="tab.name == 'favourite'" class="tab-content">
            <div class='section padded' ng-class='{"last": !lookups.length}'>
              <label>
                <span translate='search'></span>
                <span style='color: #b7b7b7' translate='results.amount' translate-values='{count: tab.count}'></span>
              </label>
              <input placeholder='...' class='form-control' type='text' ng-model='query' ng-model-options="{ debounce: 450 }" ng-change='suggest(query)'>
            </div>
            <div class='section last'>
              <ul class='list-of-documents'><li ng-repeat='document in tab.items' ng-include='"templates/partials/embeds/document.html"|prefixTemplate'></li>
              </ul>
              <div class='more-wrapper'>
                <div ng-if='tab.items.length > 0 && tab.items.length < tab.count' class="btn-line-group primary">
                  <button class='btn-line' ng-click='more()'>
                    <span ng-if='!tab.isLoadingNextItems'>
                      <span translate='button.more'></span>
                      <span translate='missing' translate-values="{count: tab.missing}"></span>
                    </span>
                    <span ng-if='tab.isLoadingNextItems' translate='button.loading'></span>
                  </button>
                </div>
                <!-- when count equals item length, we are at the end -->
              </div>
            </div>
          </div>

          <div ng-show="tab.name == 'glossary'" class="tab-content">
            <div class='section padded' ng-class='{"last": !glossary.length}'>
              <label>
                <span translate='search'></span>
                <span style='color: #b7b7b7' translate='results.amount' translate-values='{count: tab.count}'></span>
              </label>
              <input placeholder='...' class='form-control' type='text' ng-model='query' ng-model-options="{ debounce: 250 }" ng-change='suggest(query)'>
            </div>
            <div class='section last'>
              <ul class='list-of-documents'><li ng-repeat='term in tab.items' ng-include='"templates/partials/term.html"|prefixTemplate'></li>
              </ul>
              <div class='more-wrapper'>
                <div ng-if='tab.items.length > 0 && tab.items.length < tab.count' class="btn-line-group primary">
                  <button class='btn-line' ng-click='more()'>
                    <span ng-if='!tab.isLoadingNextItems'>
                      <span translate='button.more'></span>
                      <span translate='missing' translate-values="{count: tab.missing}"></span>
                    </span>
                    <span ng-if='tab.isLoadingNextItems' translate='button.loading'></span>
                  </button>
                </div>
                <!-- when count equals item length, we are at the end -->
              </div>
            </div>
          </div>

          <div ng-show="tab.name == 'CVCE'" class="tab-content">
            <div class='section padded' ng-class='{"last": !suggestResults.length}'>
              <label>
                <span translate='search'></span>
                <span style='color: #b7b7b7' translate='results.amount' translate-values='{count: tab.count}'></span>
              </label>
              <input placeholder='...' class='form-control' type='text' ng-model='query' ng-model-options="{ debounce: 250 }" ng-change='suggest(query)'>
            </div>
            <div class='section last'>
              <ul class='list-of-documents'>
                <li ng-repeat='document in tab.items' ng-include='"templates/partials/oembed-search-results.html"|prefixTemplate'>
                </li>
              </ul>
              <div class='more-wrapper'>
                <div ng-if='tab.items.length > 0 && tab.items.length < tab.count' class="btn-line-group primary">
                  <button class='btn-line' ng-click='more()'>
                    <span ng-if='!tab.isLoadingNextItems'>
                      <span translate='button.more'></span>
                      <span translate='missing' translate-values="{count: tab.missing}"></span>
                    </span>
                    <span ng-if='tab.isLoadingNextItems' translate='button.loading'></span>
                  </button>
                </div>
                <!-- when count equals item length, we are at the end -->
              </div>
            </div>
          </div>

          <div ng-show="tab.name == 'url'" class="tab-content">
            <div class='section padded'>
              <label translate='url'></label>
              <span style='color: #b7b7b7' translate='{{suggestMessage}}'></span>
              <div class='elastic-textarea-wrapper'>
                <textarea class="elastic-textarea" rows="3" msd-elastic ng-model='url' ng-change='previewUrl(url)' type='text' placeholder='http://'></textarea>
              </div>
            
              <div class='preview' ng-show='embed.provider_name' ng-class='embed.type'>
                <div ng-if='embed.provider_name=="CVCE"' ng-include='"templates/partials/embeds/cvce.html"|prefixTemplate'></div>
                <div ng-if='embed.provider_name=="YouTube"' ng-include='"templates/partials/embeds/YouTube.html"|prefixTemplate'></div>
                <div ng-if='embed.provider_name=="Flickr"' ng-include='"templates/partials/embeds/Flickr.html"|prefixTemplate'></div>
                <div ng-if='embed.provider_name=="Ina.fr"' ng-include='"templates/partials/embeds/Ina.fr.html"|prefixTemplate'></div>

                <div ng-if='embed.type == "link"'>
                  <div embedit='embed.description'></div>
                </div>
                <div ng-if='embed.type == "rich" || embed.type == "video"'>
                  <div ng-if='embed.html' style='height: 200px; width: 100%' embedit='embed.html' stretch="true"></div>
                  <div ng-if='!embed.title' translate='enrich.type.notitle'></div>
                  <div>
                    
                  </div>
                </div>
                
                
              </div>
            </div>
            <div class='section padded'>
              <label translate='title'></label>
              <div class='elastic-textarea-wrapper'>
                <textarea class="elastic-textarea" rows="3" msd-elastic ng-model='embed.title' type='text' placeholder='untitled'></textarea>
              </div>
            </div>
            <div class='section padded last'>
              <label translate='bibtex reference'></label>
              <div class='elastic-textarea-wrapper'>
                <textarea class="elastic-textarea bibtex" rows="3" msd-elastic ng-model='reference' type='text' placeholder='@{}'></textarea>
              </div>
              <div class='sans-serif description'>You can copy/paste from Zotero or you can genarate bibtex with <a href='http://truben.no/latex/bibtex/'>Truben</a> to easily build a bibtex reference</div>
            </div>
          </div>

          <div ng-show="tab.name == 'upload'" class="tab-content">
            <div class='section padded'>
            
              <div class='drop-box-form-wrapper'>
                <form name="createForm" novalidate class="simple-form">
                  <div ng-show='!uploadablefile.size'>
                    <div ngf-drop ngf-select ng-model="uploadable" class="drop-box sans-serif" 
        ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
        accept="image/*,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document" 
        ngf-pattern="'image/*,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document'"><span translate="drop.to.upload"></span></div>
                  </div>
                  <div class="uploadable" ng-show='uploadablefile.size'>  
                    <div>
                      <span>{{uploadablefile.name}}</span>
                      <span>{{uploadablefile.type}}</span>
                      <span>{{uploadablefile.size}}</span>
                      <div class='btn-line-group'><a class='btn-line' ng-click='undo()' translate='button.undo'></a></div>
                    </div>
                    <div class="loading-bar" style='width:{{uploadablefile.progressPercentage|| 0}}%'></div>
                    
                    <div ng-if='selectedDocument' ng-init='document=selectedDocument' ng-include='"templates/partials/embeds/document.html"|prefixTemplate'>
                    </div>
                  </div>
                </form>
              </div>
              <div ngf-no-file-drop><span translate='feature.unsupported.dragdrop'></span></div>
            </div>
            <!-- @todo -->
            <div class='section padded last'>
              <label translate='bibtex reference'></label>
              <div class='sans-serif description' translate='bibtex.howto'></div> 
              <div class='elastic-textarea-wrapper'>
                <textarea class="elastic-textarea" rows="3" msd-elastic ng-model='reference' type='text' placeholder='@{}'></textarea>
              </div>
              
            </div>
            <div class='section padded'>
              <div class="center">
                <div class='btn-line-group primary'><button class='btn-line' ng-click='upload()' translate='button.upload'></button></div>
              </div>
            </div>
          </div>

          <div ng-show="tab.name == 'iframe'" class="tab-content">
            <!-- @todo -->
          </div>

          <div ng-show="tab.name == 'bibtex'" class="tab-content">
            Add a reference (bibtex) Cfr <a href='https://www.zotero.org/support/creating_bibliographies'>quick copy from Zotero</a>
            <label translate='bibtex'></label>
            <div class='elastic-textarea-wrapper'>
              <textarea class="elastic-textarea" style="font-family: monospace;" rows="8" msd-elastic ng-model='reference' type='text' placeholder='@BOOK {}'></textarea>
            </div>
          </div>
          <div style='clear:both'></div>


      </div>
      <div class="modal-footer">
        <span class='btn-line-group'><button type="button" class="btn-line {{isSomethingSelected?'active':''}}" ng-click="addDocument(tab.name, contents, reference, url, embed)" translate='button.add'></button>
        </span>
        <span class='btn-line-group'>
        <button type="button" class="btn-line" ng-click="$hide()">Close</button>
        </span>
      </div>
    </div>
  </div>
</div>