<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 1050; display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
      <button type="button" class="close" aria-label="Close" ng-click="$hide()">
      <span aria-hidden="true" class='icon-close'></span>
      </button>
      <h4 class="modal-title">add resource</h4></div>
      
      <div class="modal-body">

        <div class='section'>
        <!-- <input type='text' class="form-control" placeholder="search ..."> -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="tab == 'favourite'? 'active':''"><a ng-click='setTab("favourite")' aria-controls="home" role="tab" data-toggle="tab">your resources</a></li>
            <li role="presentation" ng-class="tab == 'b'? 'active':''"><a ng-click='setTab("b")' aria-controls="profile" role="tab" data-toggle="tab">cvce archives</a></li>
            
            <li role="presentation" ng-class="tab == 'url'? 'active':''"><a ng-click='setTab("url")' aria-controls="messages" role="tab" data-toggle="tab">from url</a></li>

            <li role="presentation" ng-class="tab == 'bibtex'? 'active':''"><a ng-click='setTab("bibtex")' aria-controls="messages" role="tab" data-toggle="tab">new reference</a></li>
            
          </ul>

          <div ng-show="tab == 'favourite'" class="tab-content">
        
            <ul ><li ng-repeat='document in lookups' ng-include='"templates/partials/document.html"|prefixTemplate'></li>
            </ul>
          </div>

          <div ng-show="tab == 'b'" class="tab-content">
          </div>

          <div ng-show="tab == 'url'" class="tab-content">
            <label translate='url'></label>
            <div class='elastic-textarea-wrapper'>
              <textarea class="elastic-textarea" rows="3" msd-elastic ng-model='url' ng-change='previewUrl(url)' type='text' placeholder='http://'></textarea>
            </div>
            <p>
            <label translate='preview'></label>
            <div ng-if='embed.provider_name=="CVCE"' ng-include='"templates/partials/embeds/cvce.html"|prefixTemplate'></div>
            </p>
          </div>

          <div ng-show="tab == 'bibtex'" class="tab-content">
            Add a reference (bibtex) Cfr <a href='https://www.zotero.org/support/creating_bibliographies'>quick copy from Zotero</a>
            <label translate='bibtex'></label>
            <div class='elastic-textarea-wrapper'>
              <textarea class="elastic-textarea" style="font-family: monospace;" rows="8" msd-elastic ng-model='reference' type='text' placeholder='@book{}'></textarea>
            </div>
          </div>
          <div style='clear:both'></div>
        </div>

      </div>
      <div class="modal-footer">
        <span class='btn-line-group'><button type="button" class="btn-line {{isSomethingSelected?'active':''}}" ng-click="addDocument(tab, contents, reference, url, embed)" translate='button.add'></button>
        </span>
        <span class='btn-line-group'>
        <button type="button" class="btn-line" ng-click="$hide()">Close</button>
        </span>
      </div>
    </div>
  </div>
</div>