<div class='container'>
  <div class='view'>
    <h2>{{author.fullname}}</h2>
    <div class='affiliation sans-serif' embedit='author.affiliation' language='language'></div>
    
    <div embedit='author.metadata.biography' markdown='true' language='language'></div>
    
    <div ui-view></div>
  
    <div ng-if='isMe || user.is_staff' class='actions'>
      <div class='btn-line-group primary'>
        <button ui-sref='modifyauthor({username: author.profile.username})' class='btn-line' translate="button.edit.author"></button>
      </div>
    </div>

  </div>
</div>