<h3 ng-if='isMe' translate="me.publications"></h3>
<h3 ng-if='!isMe' translate="latest publications"></h3>
<!-- Nav tabs -->
  <ul class='nav nav-tabs'>
    <li ng-repeat='link in urls' role="presentation" ui-sref-active="active">
      <a href ui-sref='me.publications.{{link.name}}' aria-controls="home" role="tab" data-toggle="tab" translate="{{link.name}}"></a>
    </li>
    
    <li ng-if='isMe' ui-sref-active="active">
      <a href ui-sref='me.publications.drafts' aria-controls="home" role="tab" data-toggle="tab" translate="drafts"></a>
    </li>
  </ul>
  

<div ui-view></div>