<div class='container'>
<div class='view'>
<div class='row'>
<div class='col-lg-8'>
  <div>
    <h1 translate="headline.blog.title"></h1>

    <blockquote translate="headline.blog.abstract"></blockquote>

    </div>
  </div>
</div>
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" ui-sref-active="active"><a href ui-sref='blog.everything' aria-controls="home" role="tab" data-toggle="tab">everything</a></li>
  <li role="presentation" ui-sref-active="active"><a href ui-sref='blog.events' aria-controls="profile" role="tab" data-toggle="tab">events</a></li>
</ul>

<div ui-view></div>
</div>
</div>