<div class="story">
  

  

  <div class='overlay'>
    <div class='container'>
      

      <div class='row'>
        <div class='col-md-12'>
          <div class='authors' ng-if="story.authors.length">
            by <span ng-repeat='author in story.authors' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
          </div>
          <h1 class="" embedit='story.metadata.title' language='language'></h1>
          
          <blockquote embedit='story.metadata.abstract' language='language'></blockquote>

        </div>
      </div>
      
     <!--  <div ng-if='story.covers.length' class="main cover" ng-repeat='document in story.covers'>

          <div class='cover-oembed' rich-oembed fullscreen='fullsize(document.slug)' autoplay='true' oembed='document.metadata' cover='document.metadata.media_url || document.metadata.urls.Publishable || document.metadata.urls.Preview || document.metadata.thumbnail_url || document.metadata.url'></div>
         
            <div class='metadata-wrapper' ng-include='"templates/partials/document.metadata.html"|prefixTemplate''></div>
      
      </div> -->

      <div class='row' style='margin-bottom: 50px'>
        <div  ng-class='{"col-md-12": !documents.length, "col-md-8 col-lg-7": documents.length}'>
          <div class="contents">
            <div markdownit='story.contents' language='language' listener='listener(event, data, callback)' settoc='setToC(ToC)' setdocs='setDocuments(items)'></div>
          </div>
        </div>
        <div class='col-md-4 col-lg-5' ng-if='documents.length' respect-previous-sibling update="documents">
          <div sliding-steps data-language='language' data-focus='focusedIdx' style='height:100%' items='documents'></div>
        </div>
      </div>
      <!-- <div style='margin-top: 50px' disqus="story.slug"></div> -->
    </div>
  </div>
</div>
