<div class='container'>
<div class='view'>
  <p>
    <label>
      <span translate="field.label.title"></span>
    </label>
    <textarea id='draft-title' class='elastic-textarea' rows="1" msd-elastic ng-model='title'   type='text' placeholder='Untitled'></textarea>
  </p>
  <p>
    <label>
      <span translate="field.label.abstract"></span>
    </label>
    <textarea id='draft-abstract' class='elastic-textarea' rows="1" msd-elastic ng-model='abstract' type='text' placeholder='abstract'></textarea>
  </p>

  <div class='actions'>
    <div class='btn-line-group primary'>
      <button ng-click='save()' class='btn-line'><span translate="button.create"></span></button>
    </div>
  </div>
</div>
</div>