<div class="container">
<div class="view">
<div class="row">
  <div class="col-md-8">

    <!-- CONVER STORY -->
    <div class="coverstory story lite">
      <div class="tags" ng-if="coverstory.tags.length">
        <span class="tag" ng-repeat='tag in coverstory.tags|filter:{ category: "writing" }' ng-include='"templates/partials/tag.html"|prefixTemplate'></span>
      </div>

      <h3><a href ui-sref="story({postId: coverstory.slug})" embedit='coverstory.metadata.title' language='language'></a></h3>
      <blockquote><span embedit='coverstory.excerpt' language='language'></span><a href ui-sref="story({postId: coverstory.slug})"><span class='icon-arrow-right-circle'></span></a></blockquote>
      <div class='authors' ng-if="coverstory.authors.length">
        by <span ng-repeat='author in coverstory.authors' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
      </div>
      <div class='authors' ng-if="coverstory.authors.length == 0">
        edited by <span onload='author = coverstory.owner' ng-init='$single=true' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
      </div>
      <div ng-if='coverstory.cover' class='cover-wrapper'>
        <div class='cover' style='background-size: cover; height:300px; background-image:url({{coverstory.cover}})'></div>
      </div>

      
    </div>

    
    <div class="row">
    <!-- REMAINING STORIES -->
      <div ng-repeat='story in otherstories' class="col-md-6">
        <div class="coverstory other">
          <div class="divider"></div>
          <div class="tags" ng-if="story.tags.length">
            <span  class='tag' ng-repeat='tag in story.tags|filter:"public"' ng-include='"templates/partials/tag.html"|prefixTemplate'></span>
          </div>
          <h4><a href ui-sref="story({postId: story.slug})" embedit='story.metadata.title' language='language'></a></h4>
          
          <blockquote class="reduced"><span embedit='story.excerpt' language='language'></span> <span class='icon-arrow-right-circle'></span></blockquote>
          <div class='authors' ng-if="story.authors.length">
            by <span ng-repeat='author in story.authors' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-4">
    <div ng-repeat='story in news'>
      <div class="coverstory news">
        <div ng-if='!$first' class="divider"></div>
        <div class="date">{{story.date|date:'mediumDate'}}</div>
        <h4><a href ui-sref="story({postId: story.slug})" embedit='story.metadata.title' language='language'></a></h4>

        <div class='authors' ng-if="story.authors.length">
          by <span ng-repeat='author in story.authors' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
        </div>
        <div class='authors' ng-if="story.authors.length == 0">
          edited by <span onload='author = story.owner' ng-init='$single=true' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
        </div>
        <blockquote class="reduced">
          <span embedit='story.excerpt' language='language'></span>
          <span class='icon-arrow-right-circle'></span>
        </blockquote>
        
      </div>
    </div>
  </div>
</div>
</div>
</div>