<div class="container">
<div class="view">
<div class="row">
  <div class="col-md-8">

    <!-- CONVER STORY -->
    <div class="coverstory story lite">
      <div class="tags" ng-if="coverstory.tags.length">
        <span class="tag" ng-repeat='tag in coverstory.tags|filter:{ category: "writing" }' ng-include='"templates/partials/tag.html"|prefixTemplate'></span>
      </div>

      <h3>
        <a ng-if='!story.is_collection' href ui-sref="story({postId: coverstory.slug})" embedit='coverstory.metadata.title' language='language'></a>
        <a ng-if='story.is_collection' href ui-sref="collection({collectionId: coverstory.slug})" embedit='coverstory.metadata.title' language='language'></a>
      </h3>
      <div class='authors' ng-if="coverstory.authors.length">
        by <span ng-repeat='author in coverstory.authors' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
      </div>
      <blockquote>
        <span embedit='coverstory.excerpt' language='language'></span>
        <a ng-if='!coverstory.is_collection' href ui-sref="story({postId: coverstory.slug})"><span class='icon-arrow-right-circle'></span></a>
        <a ng-if='coverstory.is_collection' href ui-sref="collection({collectionId: coverstory.slug})"><span class='icon-arrow-right-circle'></span></a>
      </blockquote>
      
      <div ng-if='coverstory.covers.length' ng-repeat='document in coverstory.covers' class='cover-wrapper'>
        <div class='cover-oembed' rich-oembed fullscreen='fullsize(document.slug)' autoplay='true' oembed='document.metadata' cover='document | coverage:"hifi"'></div>
          <!-- <div class='cover' style='background-size: cover; height:300px; background-image:url({{coverstory.cover}})' ></div> -->
      </div>
      
    </div>

    
    <div class="row">
    <!-- REMAINING STORIES -->
      <div ng-repeat='story in otherstories' class="col-md-6" ng-class-odd="'clear-left'">
        <div class="coverstory other">
          <div class="divider"></div>
          <div class="tags" ng-if="story.tags.length">
            <span  class='tag' ng-repeat='tag in story.tags|filter:"public"' ng-include='"templates/partials/tag.html"|prefixTemplate'></span>
          </div>
          <h4>
            <a ng-if='!story.is_collection' href ui-sref="story({postId: story.slug})" embedit='story.metadata.title' language='language'></a>
            <a ng-if='story.is_collection' href ui-sref="collection({collectionId: story.slug})" embedit='story.metadata.title' language='language'></a>
          </h4>
          <div class='authors' ng-if="story.authors.length">
            by <span ng-repeat='author in story.authors' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
          </div>
          <blockquote class="reduced">
            <span embedit='story.excerpt' language='language'></span>
            <a ng-if='!story.is_collection' href ui-sref="story({postId: story.slug})"><span class='icon-arrow-right-circle'></span></a>
            <a ng-if='story.is_collection' href ui-sref="collection({collectionId: story.slug})"><span class='icon-arrow-right-circle'></span></a></blockquote>
          <div ui-sref="story({postId: story.slug})" style='cursor:pointer' ng-if='story.covers.length' ng-repeat='document in story.covers' class='fluid-container relative'>
            <div class='image-wrapper cover' lazy-img='{{document|coverage}}'></div>
            <div class='embedded-metadata' ng-include='"templates/partials/document.metadata.embedded.html"|prefixTemplate'></div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-4">
    <h5 class='lined'><span translate='latest news'></span></h5>
    <div ng-repeat='story in news'>
      <div class="coverstory news">
        <div ng-if='!$first' class="divider"></div>
        <div class="date">{{story.date|date:"yyyy'.'MM'.'dd"}}</div>
        <h4>
          <a ng-if='!story.is_collection' href ui-sref="story({postId: story.slug})" embedit='story.metadata.title' language='language'></a>
          <a ng-if='story.is_collection' href ui-sref="collection({collectionId: story.slug})" embedit='story.metadata.title' language='language'></a>
        </h4>
        <div class='authors' ng-if="story.authors.length">
          by <span ng-repeat='author in story.authors' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
        </div>
        <blockquote class="reduced">
          <span embedit='story.excerpt' language='language'></span>
          <a href ui-sref="story({postId: story.slug})"><span class='icon-arrow-right-circle'></span></a>
        </blockquote>
        <div ui-sref="story({postId: story.slug})" style='cursor:pointer' ng-if='story.covers.length' ng-repeat='document in story.covers' class='fluid-container relative'>
          <div class='image-wrapper cover' lazy-img='{{document|coverage}}'></div>
          <div class='embedded-metadata' ng-include='"templates/partials/document.metadata.embedded.html"|prefixTemplate'></div>
        </div>

        
      </div>
    </div>

    <div style='text-align: center; margin-top: 20px'>
      <div class="btn-line-group primary">
        <button class='btn-line' ui-sref='blog.event'>
          <span translate='button.more.events'></span>
        </button>
        <button class='btn-line' ui-sref='blog.news'>
          <span translate='button.more.news'></span>
        </button>
      </div>
    </div>

  </div>
</div>
</div>
</div>