<div ng-if='count == 0' translate='items.empty'></div>
<div ng-if='model == "story"' ng-repeat='story in items' ng-include='"templates/partials/story.html"|prefixTemplate'></div>
<div ng-if='model == "action"' ng-repeat='action in items' ng-include='"templates/partials/action.html"|prefixTemplate'></div>
<div ng-if='model == "review"' ng-repeat='review in items' ng-include='"templates/partials/review.html"|prefixTemplate'></div>
<div ng-if='model == "report"' ng-repeat='review in items' ng-include='"templates/partials/report.html"|prefixTemplate'></div>

<div style='text-align: center'>
  <div ng-if='items.length > 0 && items.length < count' class="btn-line-group primary">
    <button class='btn-line' ng-click='more()'>
      <span ng-if='!isLoadingNextItems'>
        <span translate='button.more'></span>
        <span translate='missing' translate-values="{count: missing}"></span>
      </span>
      <span ng-if='isLoadingNextItems' translate='button.loading'></span>
    </button>
  </div>
  <!-- when count equals item length, we are at the end -->
</div>