<div class="post">
  <div class="cover" ng-if='hasCoverVideo'>
    <iframe width="100%" height="315" src="" frameborder="0" allowfullscreen></iframe>

  </div>
  <div class='overlay'>
    <h2>{{post.title}}</h2>  
    <blockquote>
      {{post.abstract}}
    </blockquote>
    <div class="tags" ng-if="post.tags.length">
      <span class='tag' ng-repeat='tag in post.tags|filter:"public"' ng-include='"templates/partials/tag.html"|prefixTemplate'></span>
    </div>
  
    <div class='authors' ng-if="post.authors.length">
      by <span ng-repeat='author in post.authors' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
    </div>
    <div class="contents">
     <div marked='post.contents' settoc='setToC(ToC)' setdocs='setDocuments(items)'></div>
    </div>  
  </div>
</div>
