<div class='container'>
  <div class='view'>
    <h1>{{profile.username}}</h1>
    <div ng-repeat='author in authors' style="position:relative; border-bottom:1px solid #ccc">
    
      <h2>{{author.fullname}}</h2>
      <div class='affiliation sans-serif' embedit='author.affiliation' language='language'></div>
      
      <div embedit='author.metadata.biography' markdown='true' language='language'></div>
      
      
    
      <div ng-if='isMe || user.is_staff' class='actions'>
        <div class='btn-line-group primary'>
          <button ui-sref='modifyauthor({slug: author.slug})' class='btn-line' translate="button.edit.author"></button>
        </div>
      </div>
    </div>
  </div>

  <h3 translate="latest publications"></h3>
  <!-- Nav tabs -->
  <ul class='nav nav-tabs'>
    <li role="presentation" ui-sref-active="active" >
      <a href ui-sref='author.publications({slug: author.slug})' aria-controls="home" role="tab" data-toggle="tab" translate="state.publications.all.label"></a>
    </li>
    <li ng-if='isMe' ui-sref-active="active">
      <a href ui-sref='profile.publications({username: profile.username})' aria-controls="home" role="tab" data-toggle="tab" translate="drafts"></a>
    </li>
    <li ng-if='isMe' ui-sref-active="active">
      <a href ui-sref='profile.publications({username: profile.username})' aria-controls="home" role="tab" data-toggle="tab" translate="bin"></a>
    </li>
  </ul>
  

  <div ui-view></div>
</div>