<div class='container'>
<div class="view">

<h1 translate="headline.publications.title"></h1>

    <p translate="headline.publications.abstract"></p>



<!-- Nav tabs -->
<ul class='nav nav-tabs' style='margin-top: 20px'>
  <li role="presentation" ui-sref-active="active" >
    <a href ui-sref='publications.all' aria-controls="home" role="tab" data-toggle="tab" translate="state.publications.all.label"></a>
  </li>
  <li ng-repeat='link in urls' role="presentation" ui-sref-active="active">
    <a ng-if='link.preventTranslation' href ui-sref='publications.{{link.slug}}' aria-controls="home" role="tab" data-toggle="tab">{{link.name}}</a>
    <a ng-if='!link.preventTranslation' href ui-sref='publications.{{link.slug}}' aria-controls="home" role="tab" data-toggle="tab" translate="state.publications.{{link.name}}.label"></a>
  </li>
  <li ng-if='slug' role="presentation" ui-sref-active="active" >
    <a href ui-sref='publications.tags({slug: slug})' aria-controls="home" role="tab" data-toggle="tab">/filter: <b>{{slug}}</b>/</a>
  </li>

  <!-- <li class='dropdown active secondary'>
    <a bs-dropdown placement='bottom-right' aria-haspopup="true" aria-expanded="false" style='position:relative; padding-right: 30px'>
      <span class='inner'>
        <span translate='orderby.date'></span>
        <span style='position:absolute; right:5px; top:0' class='icon icon-arrow-down-circle'></span>
      </span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li ui-sref-active="active"><a ui-sref="draft" translate='write'></a></li>
    </ul>
  </li> -->
</ul>




<div ui-view></div>
</div>
</div>


<!-- <div class='row'>
  
  <div class='col-md-4'>
    <h2 class='no-margin-top' translate='state.{{state}}.title'></h2>
    <p class="small" translate='state.{{state}}.abstract'></p>
  </div>
  <div class='col-md-8'>
    <div ui-view></div>
  </div>
</div> -->
