<div class='container'>
  <div class='view'>
    <h1 translate="headline.reviews"></h1>
    <blockquote translate="headline.reviews.abstract"></blockquote>
  
    <!-- Nav tabs -->
    <ul class='nav nav-tabs'>
      <li role="presentation" ui-sref-active="active" >
        <a href ui-sref='reviews.all' aria-controls="home" role="tab" data-toggle="tab" translate="state.reviews.all"></a>
      </li>
      
      <li role="presentation" ui-sref-active="active" >
        <a href ui-sref='reviews.pending' aria-controls="home" role="tab" data-toggle="tab" translate="state.reviews.pending"></a>
      </li>
    </ul>


<div ui-view></div>
  </div>

</div>