
<div ui-view>
  <div class='container'>
  <div class='view review'>
    <div class="actions" >
      <div class='btn-line-group'>
        <button class='btn-line' ui-sref="reviews.pending" translate="button.backtoreviews"></button>
      </div>
      <div class='btn-line-group primary'>
        <button class='btn-line' ui-sref="review.story({id:review.id})" translate="button.viewmode"></button>
      </div>
    </div>

    <h1><span translate="headline.review.of"></span></h1>
    <div class='reviewed'>
    <div class="date">{{review.story.date|date:'mediumDate'}}</div>
    
    <h2><a ui-sref='review.story({id:review.id})' embedit='review.story.metadata.title' language='language'></a></h2>
    <blockquote ng-if='review.story.metadata.abstract' embedit='review.story.metadata.abstract' language='language'></blockquote>
    </div>

    <form class='generic-form-wrapper' name="createForm" novalidate>
      <div ng-repeat='field in fields' style='margin: 10px 0 20px 0px'>
        <label style='margin-left:60px'>

          <span class="number" ng-class='{"active": createForm[field].$valid, "error": createForm[field].$dirty && !createForm[field].$valid}'>{{$index+1}}</span>
            <span translate="field.label.{{field}}"></span>
          <!-- <p class='description' translate="field.label.{{field}}.description"></p> -->
        </label>
        <div rating ng-model='review[field + "_score"]'></div>
        <div class='elastic-textarea-wrapper'>
          <textarea placeholder='{{"field.label.placeholder.review" | translate}}' required class='elastic-textarea' msd-elastic ng-model='review[field]' name='{{field}}' ng-model-options="{ debounce: 200 }"></textarea>

        </div>
        
      </div>

      <div style='margin: 10px 0 20px 0px'>
        <label style='margin-left:60px'>

          <span class="number" ng-class='{"active": createForm.reviewcontentstext.$valid, "error": createForm.reviewcontentstext.$dirty && !createFormreviewcontentstext.$valid}'>{{fields.length + 1}}</span>
            <span translate="field.label.review.final"></span>
          <p class='description' translate="field.label.review.final.description"></p>
        </label>
        
        <div class='elastic-textarea-wrapper'>
          <textarea rows="5" placeholder='{{"field.label.placeholder.review" | translate}}' required class='elastic-textarea' msd-elastic ng-model='review.contents.text' name='reviewcontentstext' ng-model-options="{ debounce: 200 }"></textarea>

        </div>
      </div>


      <div style='margin: 20px 0'>
        <h2 class='center' ><span translate='field.label.review.score'></span> <span ng-class='{"error": !is_valid}'>{{points}}</span> / {{fields.length * 5}}</span></h2>
        <div ng-if='is_valid'>
          <p translate='field.label.review.final.decision'></p>
          <div class="radio" ng-repeat='status in availableStatuses'>
            <label>
              <input type="radio"
                ng-model="$parent.$parent.reviewStatus"
                value="{{status}}"
                name="reviewstatus">
              <span translate='field.label.review.status.{{status}}'></span> {{status}}
            </label>
          </div>
        </div>
      </div>

      <div class='center' style='margin: 20px 0'>
        <div class='btn-line-group primary' ng-class='{"primary": createForm.$valid}'>
          <button class='btn-line' ng-click='finalize(reviewStatus)'><span translate='button.reviewcompleted' translate-values='{is_valid: is_valid}'></span></button>
        </div>

        <div class='btn-line-group'>
          <button class='btn-line' ng-click='save()'><span translate='button.savedraft' translate-values='{isSaving: isSaving}'></span>
          reviewStatus:{{reviewStatus}}</button>
        </div>
      </div>
    </form>

  </div>
</div>
</div>