<div class='container'>
<div class='view'>
<div class='row'>
  <div class='col-md-8'>

    {{count}} results for search: {{query}}
    
    <ul class="filters">
      <li class='filter' ng-class='k' ng-repeat="(k, v) in qs">
        <span ng-if='k == "q"'>{{v}}</span>
        <span ng-if='k != "q"'>{{k}}: {{v}} <span ng-click="removeLocationFilter(k)" class="icon icon-close"></span></span>
      </li>
    </ul>
  </div>
</div>
<!-- Nav tabs -->
<ul class='nav nav-tabs'>
</ul>
<div>
  <div ng-repeat="story in items"  ng-include='"templates/partials/story.html"|prefixTemplate'></div>
</div>
</div>
</div>