<div class="story">
  <div class='container'>
    <div class="view">
      <div class="actions" >
        <div class='btn-line-group primary'>
          <a  class='btn-line' ng-href="/api/story/{{story.id}}/download" _target="blank">PDF <span class='icon icon-cloud-download'></span></a>
        </div>
        <div ng-if='story.isWritable' class='btn-line-group primary'>
          <button  class='btn-line' nref ui-sref='writing({storyId:story.id})'>edit</button>
        </div>

        <div ng-if='user.is_staff' class='btn-line-group'>
          <button class='btn-line' ng-click='setStatus("draft")' ng-class='{"active warning": story.status=="draft"}' translate="story.status.draft"></button>
          <button class='btn-line' ng-click='setStatus("public")' ng-class='{"active": story.status=="public"}' translate="story.status.public"></button>
        </div>
      </div>
    </div>
  </div>

  

  <div class='overlay'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-8'>
          <div class="tags" >
            <span ng-if="story.tags.length" class='tag sans-serif' ng-repeat='tag in story.tags|filter:"public"' ng-include='"templates/partials/tag.html"|prefixTemplate'></span>
            
          </div>
          <div class='authors' ng-if="story.authors.length">
            by <span ng-repeat='author in story.authors' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12'>
          <h1 embedit='story.metadata.title' language='language'></h1>
          <blockquote embedit='story.metadata.abstract' language='language'></blockquote>
        </div>
      </div>
      
      <div ng-if='story.covers.length' class="main cover" ng-repeat='document in story.covers'>
        <!-- <div class='row'>
          <div class='col-md-8'> -->
            <div class='image-wrapper cover' ng-if='!document.metadata.thumbnail_url && document.metadata.urls.Preview' lazy-img='{{document.metadata.urls.Preview}}'></div>
            <div class='image-wrapper cover' ng-if='document.metadata.thumbnail_url' lazy-img='{{document.metadata.thumbnail_url}}'></div>
          <!-- </div> -->
          
          <!-- <div class='col-md-4'> -->
            <div class='metadata-wrapper' ng-include='"templates/partials/document.metadata.html"|prefixTemplate''></div>
          <!-- </div> -->
        <!-- </div> -->
      </div>

      <div class='row'>
        <div class='col-md-8'>
          <div class="contents">
            <div markdownit='story.contents' language='language' listener='listener(event, data, callback)' settoc='setToC(ToC)' setdocs='setDocuments(items)'></div>
          </div>
        </div>
        <div class='col-md-4' respect-previous-sibling><div class="sliding-steps-wrapper">
          <div sliding-steps data-language='language' data-focus='focusedIdx' class='sliding-steps' items='documents'></div>
          </div>
        </div>
      </div>
      <!-- <div style='margin-top: 50px' disqus="story.slug"></div> -->
    </div>
  </div>
</div>
