<div class='rich-oembed-iframe-wrapper {{oembed.type}}' ng-class='{"with-thumbnail": with-thumbnail}'>
  <div ng-click='toggleEnable()' class="shadow">
    <div class='toggler' ng-if='oembed.type == "video"' ><span class='icon icon-control-play'></span></div>
  </div>
  <div class='rich-oembed-iframe-viewport' ng-class='{"active":iframeEnabled}'>
    <div ng-if="cover" style='height: 100%; width: 100%' >
      <div class='image-wrapper cover'  src='{{"images/spinner.gif"|prefixTemplate}}' lazy-img='{{ cover }}'></div>
    </div>
    <div ng-if='iframeEnabled' style='height: 100%; position: absolute; top:0; left:0;width: 100%' stretch='true' autoplay='{{autoplay}}' embedit='oembed.html' language='language'></div>
  </div>
  <div class='actions'>
    <a ng-if='oembed.type != "video" || iframeEnabled'  class="action" ng-click=toggleEnable()>
      <span class='icon' ng-class='{"icon-control-play": !iframeEnabled, "icon-close": iframeEnabled}'></span>
    </a>
    <a class='action' ng-if='fullscreen' ng-click="toggleFullscreen()">
      <span class='icon icon-size-fullscreen'></span>
    </a>

  </div> 
</div>