<div id='step-{{item._index}}' class='step {{item._type}}' ng-class='{active: item.isFocused}' ng-repeat="item in items" ng-init='document=item' >

  <div class="thumbnail" ng-if='item._type=="doc" && item.metadata.thumbnail_url && item.type != "link"' ng-click='fullsize(document.slug, document._type)'>
    <div ng-if='' class="action fullscreen"><span class="icon icon-size-fullscreen"></span></div>  

    <div class="thumbnail-image" ng-if='document.type=="photo"' src='{{"images/spinner.gif"|prefixTemplate}}' lazy-img='{{document.metadata.media_url}}'></div>
    
    <div class="thumbnail-image" ng-if='document.type=="rich" || document.type=="video" || document.type=="link"' src='{{"images/spinner.gif"|prefixTemplate}}' lazy-img='{{document.metadata.thumbnail_url}}' ></div>
    
    <div class="thumbnail-image" ng-if='document.type=="image"' src='{{"images/spinner.gif"|prefixTemplate}}' lazy-img='{{document.metadata.thumbnail_url || document.metadata.urls.Preview}}'></div>
  </div>

  <div ng-if="item._type=='voc'">
  <!-- 
    {{item}} -->
  </div>

  <div ng-if="item._type=='footnote'" class="metadata footnote-wrapper">
    <button class='btn btn-line' ng-click='alignTo(item._index, $event)'>
    <span class='icon icon-eye'></span><span class='type'>{{item.type}}</span>
    </button>
    <span footnote='item.id' caption='item.caption' is-opened='true'></span>
  </div>
  
  <div ng-if='item.metadata' ng-include='"templates/partials/document.metadata.html"|prefixTemplate'></div>
</div>
<!-- <div id='sliding-steps-line' style='position: absolute; width: 100%; height: 2px; background-color: gold'></div> -->