<div class='sliding-steps-direction top' ng-class='{"active":isMoreTop}'>
  <div class='btn-line-group'>
    <button class="btn btn-line" ng-click='prev()'>
      <span translate='button.previous'></span> <span class="icon icon-arrow-up-circle"></span>
    </button>
  </div>
</div>

<div class="sliding-steps-wrapper" ng-class='{"more-top":isMoreTop, "more-bottom":isMoreBottom}'>
  <div class='sliding-steps'>
    <div id='step-{{item._index}}' class='step {{item._type}}' ng-class='{active: item.isFocused}' ng-repeat="item in items" ng-init='document=item' ng-if='item._type != "block-doc"'>
      <div class="thumbnail" ng-if='item._type=="doc" && item.metadata.thumbnail_url && item.type != "link"' ng-click='fullsize(document.slug, document._type)'>
        <div class="action fullscreen"><span class="icon icon-size-fullscreen"></span></div>  

        <div class="thumbnail-image" ng-if='document.type=="photo"' src='{{"images/spinner.gif"|prefixTemplate}}' lazy-img='{{document.metadata.media_url}}'></div>
        
        <div class="thumbnail-image" ng-if='document.type=="rich" || document.type=="video" || document.type=="link"' src='{{"images/spinner.gif"|prefixTemplate}}' lazy-img='{{document.metadata.thumbnail_url}}' ></div>
        
        <div class="thumbnail-image" ng-if='document.type=="image"' src='{{"images/spinner.gif"|prefixTemplate}}' lazy-img='{{document.metadata.thumbnail_url || document.metadata.urls.Preview}}'></div>
      </div>


      <div ng-if="item._type=='footnote'" class="metadata footnote-wrapper">
        <button class='btn btn-line' ng-click='alignTo(item._index, $event)'>
        <span>{{item.caption}}</span>
        </button>
        <span footnote='item.id' caption='item.caption' is-opened='true'></span>
      </div>
      <!-- <div ng-if="item.type=='image'">
        {{item.metadata}}
      </div> -->
      <div ng-if='item.metadata' ng-include='"templates/partials/document.metadata.html"|prefixTemplate'></div>
    </div>
  </div>
</div>
<div class='sliding-steps-direction bottom' ng-class='{"active":isMoreBottom}'>
  <div class='btn-line-group'>
    <button class="btn btn-line" ng-click='next()'>
      <span translate='button.next'></span> <span class="icon icon-arrow-down-circle"></span>
    </button>
  </div>
</div>
<!-- <div id='sliding-steps-line' style='position: absolute; width: 100%; height: 2px; background-color: gold'></div> -->